openapi: 3.2.0
info:
  title: OpenMercantil User API
  version: 1.9.3
  summary: Versioned public-read, browser-account, billing, support and provider-callback contracts.
  description: 'Public JSON API for Spanish company information derived from BORME and other public sources. OpenMercantil is an independent informational service; it is NOT the BOE, BORME or Registro Mercantil and does NOT replace official certificates or registry extracts.


    **Rate limits.** Free: 60 req/min y 200 req/día por IP. Planes superiores (Profesional 5.000 req/día, MAX 50.000 req/día, Enterprise 500.000+ req/día) según cuenta y API key. Cabeceras `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`, `X-OpenMercantil-Plan`, `Retry-After`.


    **License and attribution.** Source-specific metadata in each response and the active versioned source catalog prevails. OpenMercantil does not relicense upstream content under a blanket license. Unknown, review and restricted datasets are omitted or return `503 legal_layer_unavailable`. BOE/BORME material is re-used under Ley 37/2007 and its official version remains boe.es. Court judgments are not exposed; CENDOJ remains citation-index only under CGPJ Reglamento 3/2010.


    **Machine-readable catalog (DCAT-AP-ES):** https://openmercantil.es/catalog.rdf'
  termsOfService: https://openmercantil.es/terminos-de-uso
  contact:
    name: OpenMercantil
    url: https://openmercantil.es/soporte
    email: social@openmercantil.es
  license:
    name: Source-specific upstream terms; see response catalog metadata
    url: https://openmercantil.es/terminos-de-uso
  x-publisher:
    name: OpenMercantil
    url: https://openmercantil.es/
    email: social@openmercantil.es
  x-spatial: http://publications.europa.eu/resource/authority/country/ESP
  x-temporal: 2009-01-01/..
  x-language: es
  x-dcat-catalog: https://openmercantil.es/catalog.rdf
  x-rate-limit:
    free:
      per_min: 60
      per_day: 200
      kind: anonymous-ip
    profesional:
      per_min: 120
      per_day: 5000
      kind: api-key
    max:
      per_min: 600
      per_day: 50000
      kind: api-key
    enterprise:
      per_min: 1200
      per_day: 500000
      kind: contract
  x-methodology: https://openmercantil.es/metodologia
  x-sources: https://openmercantil.es/fuentes
  x-corrections: https://openmercantil.es/correcciones
  x-contract-status: Public read, browser-account and provider-callback surfaces are explicitly separated in this contract. Operator/admin routes are excluded. The public MCP consumes only the allowlisted GET read plane.
  x-account-segment-contract:
    projection: company_public_v2 immutable corporate sidecar
    synchronous_row_cap: 500
    bounded_count_cap: 50001
    count_semantics: The segment run response count is the number of rows returned, never a global total. Dataset preview uses total_is_lower_bound=true and total_lower_bound when the bounded count reaches 50001.
    related_web_dataset_surface:
      preview_path: /mi-cuenta/datasets/preview
      export_path: /mi-cuenta/datasets/export.csv
      synchronous_export_max_rows: 500
      overflow_status: 503
      overflow_error: async_export_required
  x-company-identity-contract:
    version: '1.0'
    projection: company_public_v2 immutable generation-bound corporate sidecar
    applies_to: Every /api/v1/company/{slug}*, /api/v1/empresa/{slug}* and /api/v1/grafo/{slug} read before any report, cache, graph or dataset lookup. /api/v1/companies/compare resolves both requested subjects in one bounded company_public_v2 batch before either row is exposed; MCP company tools inherit these preflights through REST.
    resolution:
      published: canonical corporate slug admitted
      safe_alias: internally canonicalized and Content-Location emitted
      withheld: neutral 404; includes absent, personal and ambiguous/quarantined identities
      unavailable: 503 with no-store; clients must not infer absence
    search: Exact corporate CIF, exact canonical/safe-alias slug, or bounded name_prefix2 pool scored in application code. DNI/NIE and ambiguous CIFs return zero items.
    public_company_count: company_public_projection_state.row_count
servers:
- url: https://openmercantil.es
  description: Production
tags:
- name: User
  description: Authenticated Panel Pro endpoints — segments, lists, notes, tags, exports, audit. Requires session cookie (browser) and X-CSRF-Token header for mutations.
paths:
  /api/v1/user/me:
    get:
      operationId: getUserMe
      tags:
      - User
      summary: Current authenticated user
      description: Returns id, email, name, plan (tier), persona_primary, onboarded flag and a fresh CSRF token. Requires active session cookie.
      security:
      - cookieAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/org:
    get:
      operationId: getUserOrganization
      tags:
      - User
      summary: Get the current organization, seats and visible members
      description: Returns null organization plus can_team when the user has no team. Non-privileged members receive masked peer email addresses; the caller's own email is never masked. Invitation tokens are never returned.
      x-plane: account
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Organization context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Organization service unavailable
    post:
      operationId: createUserOrganization
      tags:
      - User
      summary: Create an organization
      description: MAX/Enterprise account mutation. The authenticated user becomes owner.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganizationNameRequest'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Plan does not include teams
        '403':
          description: Invalid CSRF
        '409':
          description: User already belongs to an organization
        '503':
          description: Organization service unavailable
    put:
      operationId: updateUserOrganization
      tags:
      - User
      summary: Rename the current organization
      description: Owner-only account mutation.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganizationNameRequest'
      responses:
        '200':
          description: Organization renamed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner permission or CSRF required
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Organization service unavailable
  /api/v1/user/org/invites:
    post:
      operationId: createUserOrganizationInvite
      tags:
      - User
      summary: Create or renew an organization invitation
      description: Owner/admin mutation. Enforces seat and daily invitation limits, sends the invitation out of band and never returns its token.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganizationInviteRequest'
      responses:
        '201':
          description: Invitation created or renewed without token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInviteCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner/admin permission or CSRF required
        '409':
          description: No organization, duplicate member or no free seat
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Organization or email service unavailable
  /api/v1/user/org/invites/{id}/resend:
    post:
      operationId: resendUserOrganizationInvite
      tags:
      - User
      summary: Rotate and resend an organization invitation
      description: Owner/admin mutation with no request body. The rotated token is sent out of band and never returned.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Invitation resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDispatchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner/admin permission or CSRF required
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: No free seat for an expired invitation
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Organization or email service unavailable
  /api/v1/user/org/invites/{id}:
    delete:
      operationId: deleteUserOrganizationInvite
      tags:
      - User
      summary: Cancel a pending organization invitation
      description: Owner/admin mutation with no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Invitation cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner/admin permission or CSRF required
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Organization service unavailable
  /api/v1/user/org/members/{id}:
    put:
      operationId: updateUserOrganizationMember
      tags:
      - User
      summary: Change an organization member role
      description: Owner-only mutation; the owner and caller's own role cannot be changed.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserOrganizationMemberRoleRequest'
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner permission or CSRF required
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Organization service unavailable
    delete:
      operationId: deleteUserOrganizationMember
      tags:
      - User
      summary: Remove a member from the organization
      description: Owner/admin mutation with no request body. Admins may remove members but not owners or other admins.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Owner/admin permission or CSRF required
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Organization service unavailable
  /api/v1/user/org/leave:
    post:
      operationId: leaveUserOrganization
      tags:
      - User
      summary: Leave the current organization
      description: Member/admin mutation with no request body. Owners must transfer ownership through the supported process before leaving.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Organization left
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Owner cannot leave before transferring ownership
        '503':
          description: Organization service unavailable
  /api/v1/user/persona:
    get:
      operationId: getUserPersona
      tags:
      - User
      summary: Current persona config + available list
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Persona config
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPersonaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postUserPersona
      tags:
      - User
      summary: Set persona_primary
      description: Set the account persona to a slug returned by the GET operation.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPersonaUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPersonaSelectedResponse'
        '400':
          description: Invalid persona slug
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/segments:
    get:
      operationId: getUserSegments
      x-query-contract:
        allowed:
        - pinned
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: List user segments
      parameters:
      - name: pinned
        in: query
        schema:
          type: string
          enum:
          - '0'
          - '1'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 200
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Segments list with tier_max
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegmentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postUserSegments
      tags:
      - User
      summary: Create segment
      description: Create a tier-limited saved corporate segment. At least one effective UserSegmentFilters anchor is required. Unknown fields and legacy forma/estado filters are rejected with 400; an individually valid but unindexed combination is rejected with 422.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSegmentCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegmentCreatedResponse'
        '400':
          description: Malformed/unknown filter, legally unavailable legacy filter, missing effective anchor or tier limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Individually valid filters do not have a safe indexed combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/segments/{id}:
    get:
      operationId: getUserSegmentsById
      tags:
      - User
      summary: Get segment
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Segment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegment'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: putUserSegmentsById
      tags:
      - User
      summary: Replace mutable segment fields
      description: When filters_json is present it follows UserSegmentFilters. Invalid or legacy fields return 400; unsupported indexed combinations return 422.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSegmentUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          description: Malformed/unknown or legally unavailable filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Individually valid filters do not have a safe indexed combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patchUserSegmentsById
      tags:
      - User
      summary: Patch mutable segment fields
      description: When filters_json is present it follows UserSegmentFilters. Invalid or legacy fields return 400; unsupported indexed combinations return 422.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSegmentUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          description: Malformed/unknown or legally unavailable filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Individually valid filters do not have a safe indexed combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUserSegmentsById
      tags:
      - User
      summary: Delete segment
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/segments/{id}/pin:
    post:
      operationId: postUserSegmentsByIdPin
      tags:
      - User
      summary: Toggle pin
      description: This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: New pinned state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegmentPinResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/user/segments/{id}/run:
    post:
      operationId: postUserSegmentsByIdRun
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: Execute segment filters → companies
      description: Resolves filters_json only against the immutable corporate company_public_v2 sidecar and returns at most 500 rows. `count` is the number of rows in this bounded response, not an exact global total. Invalid/legacy filters return 400, unsupported indexed combinations return 422, and missing authority/sidecar or query failure returns 503. This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          default: 100
          maximum: 500
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Bounded result rows; count equals rows.length and is not a global total
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSegmentRunResponse'
        '400':
          description: Malformed/unknown or legally unavailable saved filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Saved filters are valid individually but lack a safe indexed combination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Canonical authority, legal layer, immutable company sidecar or bounded query unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/user/lists:
    get:
      operationId: getUserLists
      tags:
      - User
      summary: List user lists
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Lists with tier_max
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListListResponse'
    post:
      operationId: postUserLists
      tags:
      - User
      summary: Create list
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserListCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/lists/{id}:
    get:
      operationId: getUserListsById
      tags:
      - User
      summary: Get list + items
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: List + items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListDetail'
    put:
      operationId: putUserListsById
      tags:
      - User
      summary: Replace mutable list fields
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserListUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patchUserListsById
      tags:
      - User
      summary: Patch mutable list fields
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserListUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUserListsById
      tags:
      - User
      summary: Delete list and its items
      description: This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/lists/{id}/items:
    post:
      operationId: postUserListsByIdItems
      tags:
      - User
      summary: Add item to list
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserListItemCreateRequest'
      responses:
        '201':
          description: Added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/user/lists/{id}/items/{item_id}:
    delete:
      operationId: deleteUserListsByIdItemsByItemId
      tags:
      - User
      summary: Remove item from list
      description: This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: item_id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/user/notes:
    get:
      operationId: getUserNotes
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: Recent notes
      security:
      - cookieAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 50
      responses:
        '200':
          description: Notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNoteListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: postUserNotes
      tags:
      - User
      summary: Create private note
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserNoteCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNoteCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/notes/{id}:
    get:
      operationId: getUserNotesById
      tags:
      - User
      summary: Get note
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNote'
    put:
      operationId: putUserNotesById
      tags:
      - User
      summary: Replace mutable note fields
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserNoteUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: patchUserNotesById
      tags:
      - User
      summary: Patch mutable note fields
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserNoteUpdateRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUserNotesById
      tags:
      - User
      summary: Delete note
      description: This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/notes/for/{type}/{id}:
    get:
      operationId: getUserNotesForByTypeById
      tags:
      - User
      summary: Notes for a target
      description: All notes about company:mercadona-sa, person:juan-perez, etc.
      security:
      - cookieAuth: []
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - company
          - person
          - sector
          - borme_id
          - free
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Notes list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotesForTargetResponse'
  /api/v1/user/tags:
    get:
      operationId: getUserTags
      tags:
      - User
      summary: List user tags with counts
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Tags + stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTagListResponse'
    post:
      operationId: postUserTags
      tags:
      - User
      summary: Create tag
      description: Tier-limited account mutation.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTagCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTagCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/tags/{id}:
    delete:
      operationId: deleteUserTagsById
      tags:
      - User
      summary: Delete tag and assignments
      description: This mutation has no request body.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
  /api/v1/user/tags/{id}/assign:
    post:
      operationId: postUserTagsByIdAssign
      tags:
      - User
      summary: Assign tag to target
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTagAssignmentRequest'
      responses:
        '200':
          description: Assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/user/tags/{id}/unassign:
    post:
      operationId: postUserTagsByIdUnassign
      tags:
      - User
      summary: Unassign tag from target
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTagAssignmentRequest'
      responses:
        '200':
          description: Unassigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/user/exports:
    get:
      operationId: getUserExports
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: Export history + monthly usage
      security:
      - cookieAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 50
      responses:
        '200':
          description: Recent + usage_summary {used, max, remaining, pct, unlimited}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExportListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/exports/usage:
    get:
      operationId: getUserExportsUsage
      tags:
      - User
      summary: Monthly export quota usage only
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportUsageResponse'
  /api/v1/user/audit:
    get:
      operationId: getUserAudit
      x-query-contract:
        allowed:
        - limit
        - offset
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: Audit log (MAX/Enterprise only)
      description: Returns 402 Payment Required if tier doesn't include audit_log. Retention 90d MAX, ilimitado Enterprise.
      security:
      - cookieAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          default: 100
          maximum: 1000
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Audit entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAuditResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Upgrade required
  /api/v1/persons/lookup:
    post:
      operationId: lookupPersonByDni
      tags:
      - User
      summary: Run an authenticated KYC documentary lookup
      description: MAX/Enterprise account operation. Requires a declared legitimate purpose, records an audit entry and never creates a public person profile. DNI/NIE belongs only in the encrypted request body, never in URL, logs or public API surfaces.
      x-plane: account
      x-sensitive: true
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycPersonLookupRequest'
      responses:
        '200':
          description: Documentary lookup result with disclaimer and usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycPersonLookupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Plan or monthly KYC quota does not permit the lookup
        '403':
          description: Invalid CSRF token
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: KYC helper unavailable
  /api/v1/persons/lookup/usage:
    get:
      operationId: getPersonLookupUsage
      tags:
      - User
      summary: Get the caller's KYC lookup allowance and usage
      description: Account-only quota metadata. It returns tier_allowed=false instead of exposing any lookup data when the plan is not eligible.
      x-plane: account
      security:
      - cookieAuth: []
      responses:
        '200':
          description: KYC tier and usage metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycPersonLookupUsageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: KYC helper unavailable
  /api/v1/persons/lookup/history:
    get:
      operationId: getPersonLookupHistory
      x-query-contract:
        allowed:
        - limit
        - offset
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: Get the caller's redacted KYC lookup history
      description: Account-only, audit-derived history. Identifiers are masked/hash-backed; it is never a public people endpoint.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Redacted KYC lookup history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KycPersonLookupHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Plan does not include KYC lookup
        '503':
          description: KYC helper unavailable
  /api/v1/user/api-credentials:
    get:
      operationId: listUserApiCredentials
      x-query-contract:
        allowed:
        - limit
        - cursor
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - User
      summary: List API credential metadata
      description: Account-plane endpoint. Revalidates the session account in users.sqlite and returns a bounded, signed-cursor page of prefixes, last four characters, scopes and lifecycle state; never a token or hash.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: cursor
        in: query
        description: Opaque signed cursor bound to the authenticated user. Offset pagination is not supported.
        schema:
          type: string
          minLength: 1
          maxLength: 256
      responses:
        '200':
          description: Credential metadata and allowed scope catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    maxItems: 50
                    items:
                      $ref: '#/components/schemas/ApiCredential'
                  allowed_scopes:
                    type: object
                    description: Scope name to human-readable capability description.
                    maxProperties: 16
                    additionalProperties:
                      type: string
                  token_visible_once:
                    type: boolean
                    const: true
                  max_active:
                    type: integer
                    const: 10
                  pagination:
                    type: object
                    required:
                    - limit
                    - has_more
                    - next_cursor
                    properties:
                      limit:
                        type: integer
                        minimum: 1
                        maximum: 50
                      has_more:
                        type: boolean
                      next_cursor:
                        type:
                        - string
                        - 'null'
                        maxLength: 256
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Account, credential schema or cursor-signing service unavailable
    post:
      operationId: createUserApiCredential
      tags:
      - User
      summary: Create an API credential
      description: Creates a credential once and returns the full token on the original response or an identical Idempotency-Key retry within 24 hours. Requires session cookie, X-CSRF-Token, a durable users.sqlite idempotency schema and configured credential/idempotency key material. List/get never expose the token.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      - $ref: '#/components/parameters/AccountIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCredentialCreateRequest'
      responses:
        '201':
          description: Credential created, or its encrypted one-time response replayed for the same key and payload
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Idempotency-Key-Expires:
              $ref: '#/components/headers/IdempotencyKeyExpires'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCredentialOneTimeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '409':
          description: Active credential limit, Idempotency-Key payload conflict, or expired replay window
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Credential pepper, idempotency encryption keyring/schema, or account service unavailable
  /api/v1/user/api-credentials/{id}/rotate:
    post:
      operationId: rotateUserApiCredential
      tags:
      - User
      summary: Rotate one API credential
      description: Atomically revokes the source and stores the encrypted one-time replacement response with the same transaction. An identical Idempotency-Key retry within 24 hours returns the same token without rotating again.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      - $ref: '#/components/parameters/AccountIdempotencyKeyHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCredentialRotateRequest'
      responses:
        '200':
          description: Rotated, or the exact replacement token replayed for the same key and payload
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Idempotency-Key-Expires:
              $ref: '#/components/headers/IdempotencyKeyExpires'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCredentialOneTimeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Idempotency-Key payload conflict or expired replay window
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Credential pepper, idempotency encryption keyring/schema, or account service unavailable
  /api/v1/user/api-credentials/{id}:
    delete:
      operationId: revokeUserApiCredential
      tags:
      - User
      summary: Revoke one API credential
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: X-CSRF-Token
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credential revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialRevokedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Account security or credential schema unavailable
  /api/v1/user/webhooks:
    get:
      operationId: listUserWebhooks
      tags:
      - User
      summary: List outbound webhook metadata
      description: Account-plane metadata, the exact payload-contract 1.0 event allowlist and worker health. Full signing secrets are never listed; signing secrets are encrypted at rest with a versioned keyring. Unknown event types and schema versions fail closed.
      x-webhook-event-contract-version: '1.0'
      x-plane: account
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Webhook metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/OutboundWebhook'
                  allowed_events:
                    $ref: '#/components/schemas/OutboundWebhookEventCatalogV1'
                  contracted_events:
                    $ref: '#/components/schemas/OutboundWebhookContractedEventCatalogV1'
                  worker:
                    $ref: '#/components/schemas/WebhookWorkerHealth'
                  secret_visible_once:
                    type: boolean
                    const: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Account or webhook security schema unavailable
    post:
      operationId: createUserWebhook
      tags:
      - User
      summary: Create an outbound webhook
      description: Validates HTTPS destination against SSRF, accepts only the explicit payload-contract 1.0 event allowlist, and atomically stores both the encrypted signing secret and an encrypted 24-hour idempotency replay. An identical Idempotency-Key retry returns the same secret without creating a second webhook. Wildcards and unknown events fail closed with 400.
      x-webhook-event-contract-version: '1.0'
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      - $ref: '#/components/parameters/AccountIdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundWebhookCreateRequest'
      responses:
        '201':
          description: Created, or the exact signing secret replayed for the same key and payload
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Idempotency-Key-Expires:
              $ref: '#/components/headers/IdempotencyKeyExpires'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundWebhookOneTimeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '409':
          description: Idempotency-Key payload conflict or expired replay window
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Webhook service, secret keyring, or durable idempotency schema/keyring unavailable
  /api/v1/user/webhooks/{id}:
    patch:
      operationId: updateUserWebhook
      tags:
      - User
      summary: Update an outbound webhook
      description: Revalidates URL/DNS/SSRF on every destination change and accepts only payload-contract 1.0 event types. Wildcards and unknown events fail closed with 400. The secret is not returned.
      x-webhook-event-contract-version: '1.0'
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: X-CSRF-Token
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OutboundWebhookUpdateRequest'
      responses:
        '200':
          description: Updated metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookUpdatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Account security or webhook schema unavailable
    delete:
      operationId: deleteUserWebhook
      tags:
      - User
      summary: Delete an outbound webhook
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - name: X-CSRF-Token
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Account security or webhook schema unavailable
  /api/v1/user/webhooks/{id}/rotate:
    post:
      operationId: rotateUserWebhookSecret
      tags:
      - User
      summary: Rotate an outbound webhook signing secret
      description: Cancels pending deliveries signed with the old key and atomically stores the encrypted replacement response. An identical Idempotency-Key retry within 24 hours returns the same secret without rotating again.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      - $ref: '#/components/parameters/AccountIdempotencyKeyHeader'
      responses:
        '200':
          description: Rotated, or the exact replacement signing secret replayed for the same key
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
            Idempotency-Key-Expires:
              $ref: '#/components/headers/IdempotencyKeyExpires'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutboundWebhookOneTimeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Idempotency-Key payload conflict or expired replay window
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Account security, encryption keyring or webhook schema unavailable
  /api/v1/support/ticket/{id}/reply:
    post:
      operationId: replySupportTicket
      tags:
      - User
      summary: Reply to a support ticket owned by the authenticated user
      description: Requires a fresh account session, `X-CSRF-Token`, ownership of the numeric ticket id and a non-closed ticket. The reply is persisted before best-effort notification. The JSON body is capped at 32 KiB and ticket contents are never exposed through the public MCP.
      x-plane: account-support
      x-max-body-bytes: 32768
      x-rate-limit: API plan policy plus a per-user action budget of 20 replies per 15 minutes and 100 per day
      x-mcp-excluded: true
      security:
      - cookieAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Internal ticket id; ownership is revalidated server-side.
        schema:
          type: integer
          minimum: 1
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupportReplyRequest'
      responses:
        '200':
          description: Reply persisted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
              example:
                ok: true
        '400':
          description: Reply validation failed or the ticket is closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportRequestErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token, ticket not found under this account, or caller is not the owner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportErrorResponse'
        '413':
          description: Request body exceeds 32 KiB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestBodyTooLargeError'
              example:
                error: request_body_too_large
                max_bytes: 32768
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: The action-budget store, account database or migrated support schema is unavailable; reply fails closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportRequestErrorResponse'
              example:
                ok: false
                error: Servicio no disponible.
  /api/v1/csrf:
    get:
      operationId: getCsrfToken
      tags:
      - User
      summary: Get a live same-origin CSRF token
      description: Returns the token for the caller's current browser session and whether it is authenticated. The response is private and never cacheable.
      x-plane: account
      security: []
      responses:
        '200':
          description: Session CSRF state
          content:
            application/json:
              schema:
                type: object
                properties:
                  csrf:
                    type: string
                  logged_in:
                    type: boolean
  /api/v1/resend-verification:
    post:
      operationId: postResendVerification
      tags:
      - User
      summary: Resend the account email-verification link
      description: Rate-limited before database and mail work. A new purpose-bound token is stored only as a hash.
      x-plane: account
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Verification email accepted by transport
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationDispatchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '502':
          description: Mail transport unavailable
  /api/v1/credits/checkout:
    post:
      operationId: postCreditsCheckout
      tags:
      - User
      summary: Create an idempotent credit-pack Checkout session
      description: Requires login and CSRF. The body is capped at 16 KiB and every external attempt consumes a strict per-user budget.
      x-plane: billing
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z0-9._:\-]{8,200}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - pack
              properties:
                pack:
                  type: string
                  enum:
                  - pack_250
                  - pack_600
                  - pack_1500
                  - pack_4000
                csrf:
                  type: string
                idempotency_key:
                  type: string
                  pattern: ^[A-Za-z0-9._:\-]{8,200}$
      responses:
        '200':
          description: Checkout URL and Stripe session id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '413':
          description: Request body too large
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action budget or Stripe unavailable
  /api/v1/empresa/{slug}/informe-legal:
    post:
      operationId: createCompanyLegalReport
      tags:
      - User
      summary: Create the authenticated user's redacted corporate legal report
      description: Account and credit-entitlement surface for a legal entity only. The server owns beta/pricing policy and a daily idempotency key scoped to user, company and UTC date; clients cannot choose price or entitlement. Every report is recursively PII-redacted before egress. Documentary events and citations do not prove wrongdoing, solvency, current status, identity of a natural person or completeness, and this informational report is not legal advice or an official certificate. Unknown or unauthorized source policy, natural-person subjects and missing helpers fail closed. The JSON body is capped at 32 KiB and accepts only the CSRF fallback.
      x-plane: account-paid-egress
      x-entitlement: legal_report (server-owned credits/beta policy)
      x-source-policy: legal_report_v1; fail closed until a versioned public decision authorizes every included source
      x-activation-status: policy-closed
      x-idempotency-key: 'server: legal_report:{user_id}:{company_slug}:{UTC-date}'
      x-max-body-bytes: 32768
      x-rate-limit: API plan policy plus a per-user action budget of 10 attempts per 15 minutes and 50 per day
      x-privacy: Corporate subjects only; recursive PII redaction before serialization
      x-mcp-excluded: true
      security:
      - cookieAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9-]+$
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalReportRequest'
      responses:
        '200':
          description: Redacted documentary corporate report and server-owned charging result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits or the idempotent charge could not be completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalReportPaymentRequiredError'
        '403':
          description: Invalid or missing CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Corporate subject not found or the slug is classified as a natural-person subject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: not_found
        '413':
          description: Request body exceeds 32 KiB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestBodyTooLargeError'
              example:
                error: request_body_too_large
                max_bytes: 32768
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action-budget storage, legal source policy, report helper, account schema or credit ledger unavailable; generation fails closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/checkout:
    post:
      operationId: postSubscriptionCheckout
      tags:
      - User
      summary: Create a subscription Checkout session
      description: 'Requires a Secure, SameSite browser session and X-CSRF-Token. Trial policy is server-owned: clients cannot send trial_days or no_default_trial. Idempotency is scoped to user, plan and billing period before Stripe.'
      x-plane: billing
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
          pattern: ^[A-Za-z0-9._:\-]{8,200}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - plan
              properties:
                plan:
                  type: string
                  enum:
                  - profesional
                  - max
                  - pro
                  - business
                  - agency
                billing:
                  type: string
                  enum:
                  - monthly
                  - yearly
                  - anual
                  default: monthly
                coupon:
                  type: string
                  maxLength: 80
                csrf:
                  type: string
                  description: Body fallback accepted by the runtime; prefer X-CSRF-Token.
                idempotency_key:
                  type: string
                  pattern: ^[A-Za-z0-9._:\-]{8,200}$
      responses:
        '200':
          description: Checkout URL and Stripe session id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: Request body too large
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action budget or Stripe unavailable
        '403':
          description: Invalid CSRF token
  /api/v1/billing/invoices:
    get:
      operationId: getBillingInvoices
      tags:
      - User
      summary: List the authenticated user's invoices and subscription
      x-plane: billing
      security:
      - cookieAuth: []
      responses:
        '200':
          description: Local billing projection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingInvoicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/billing/portal:
    get:
      operationId: getBillingPortal
      tags:
      - User
      summary: Redirect to the authenticated user's Stripe portal
      x-plane: billing
      security:
      - cookieAuth: []
      responses:
        '302':
          description: Redirect to Stripe Customer Portal
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action budget or Stripe unavailable
    post:
      operationId: postBillingPortal
      tags:
      - User
      summary: Create a Stripe portal session as JSON
      x-plane: billing
      security:
      - cookieAuth: []
      parameters:
      - $ref: '#/components/parameters/CsrfHeader'
      responses:
        '200':
          description: Stripe Customer Portal URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid CSRF token
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action budget or Stripe unavailable
  /api/v1/portal:
    post:
      operationId: postLegacyBillingPortal
      tags:
      - User
      summary: Create a Stripe Customer Portal session through the legacy alias
      description: Deprecated alias of `POST /api/v1/billing/portal`. Requires an authenticated browser session and a valid CSRF token supplied either in `X-CSRF-Token` or the form field `csrf`. New clients must use the canonical billing route.
      deprecated: true
      x-replaced-by: /api/v1/billing/portal
      x-plane: billing
      x-rate-limit: 'Per-user action budget: 5 attempts per 15 minutes and 30 per day'
      x-mcp-excluded: true
      security:
      - cookieAuth: []
      parameters:
      - name: X-CSRF-Token
        in: header
        required: false
        description: Required unless the same token is sent in the form field `csrf`.
        schema:
          type: string
          minLength: 32
          maxLength: 256
      requestBody:
        required: false
        description: Legacy form fallback for CSRF. Prefer the header and an empty body.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                csrf:
                  type: string
                  minLength: 32
                  maxLength: 256
      responses:
        '200':
          description: Stripe Customer Portal URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Invalid or missing CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action-budget storage or Stripe Customer Portal is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  responses:
    ValidationFailed:
      description: The query is lexically valid but outside a documented numeric or length bound, or uses an unsupported indexed combination.
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required (no active session)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    OrganizationMember:
      type: object
      required:
      - id
      - name
      - email
      - role
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string
        role:
          type: string
          enum:
          - owner
          - admin
          - member
      additionalProperties: false
    OutboundWebhookUpdateRequest:
      type: object
      minProperties: 1
      properties:
        url:
          type: string
          format: uri
          pattern: ^https://
        events:
          $ref: '#/components/schemas/OutboundWebhookEventSubscriptionsV1'
        active:
          type: boolean
      additionalProperties: false
    UserSegmentCreatedResponse:
      type: object
      required:
      - id
      - segment
      properties:
        id:
          type: integer
        segment:
          $ref: '#/components/schemas/UserSegment'
      additionalProperties: false
    ErrorResponse:
      type: object
      description: Closed compatibility envelope for public/account errors. Route-specific schemas narrow these fields further where required.
      required:
      - error
      properties:
        error:
          type: string
          minLength: 1
        message:
          type: string
        detail:
          type: string
        code:
          type: string
        status:
          type:
          - integer
          - string
        projection:
          type: string
        reason:
          type: string
        source_catalog_version:
          type: string
        allowed_parameters:
          type: array
          uniqueItems: true
          items:
            type: string
        slug:
          type: string
        key:
          type: string
        maximum:
          type: integer
          minimum: 1
        parameter:
          type: string
        fields:
          type: array
          items:
            type: string
        max_bytes:
          type: integer
          minimum: 1
        allowed:
          type: array
          items:
            $ref: '#/components/schemas/JsonValue'
        valid:
          type: array
          items:
            $ref: '#/components/schemas/JsonValue'
        date:
          type: string
        login_url:
          type: string
        plan:
          type: string
        limited_by:
          type: string
          enum:
          - minute
          - day
        daily_limit:
          type: integer
          minimum: 1
        reset_at:
          type: integer
          minimum: 1
        reset_at_human:
          type: string
          format: date-time
        retry_after_s:
          type: integer
          minimum: 1
        retry_after:
          type: integer
          minimum: 1
        upgrade:
          type: string
          format: uri
        upgrade_url:
          type: string
        action:
          type: string
        limit:
          type: integer
          minimum: 0
        remaining:
          type: integer
          minimum: 0
        needed:
          type: integer
          minimum: 0
        shortfall:
          type: integer
          minimum: 0
        ok:
          type: boolean
        _alias_of:
          type: string
      additionalProperties: false
    OutboundWebhookCreateRequest:
      type: object
      required:
      - url
      - events
      properties:
        url:
          type: string
          format: uri
          pattern: ^https://
        events:
          $ref: '#/components/schemas/OutboundWebhookEventSubscriptionsV1'
      additionalProperties: false
    UserListDetail:
      allOf:
      - $ref: '#/components/schemas/UserList'
      - type: object
        required:
        - items
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/UserListItem'
            maxItems: 1000
        additionalProperties: false
    UserAuditEntry:
      type: object
      description: Account audit entry. Sensitive metadata is not part of the public contract.
      properties:
        id:
          type: integer
        action:
          type: string
        target_type:
          type:
          - string
          - 'null'
        target_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    UserOrganizationInviteRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        role:
          type: string
          enum:
          - admin
          - member
          default: member
      additionalProperties: false
    UserOrganizationNameRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 80
      additionalProperties: false
    UserSegmentRunResponse:
      type: object
      required:
      - segment_id
      - count
      - rows
      - filters_applied
      properties:
        segment_id:
          type: integer
        count:
          type: integer
          minimum: 0
          maximum: 500
          description: Number of rows returned in this bounded response. It is not an exact global match count.
        rows:
          type: array
          items:
            $ref: '#/components/schemas/CompanySearchItem'
          maxItems: 500
        filters_applied:
          $ref: '#/components/schemas/UserSegmentFilters'
      additionalProperties: false
    OutboundWebhook:
      type: object
      required:
      - id
      - url
      - events
      - active
      - secret_prefix
      - created_at
      properties:
        id:
          type: integer
          minimum: 1
        url:
          type: string
          format: uri
          pattern: ^https://
        events:
          $ref: '#/components/schemas/OutboundWebhookEventSubscriptionsV1'
        active:
          type: boolean
        secret_prefix:
          type: string
          maxLength: 12
          description: Non-secret identification prefix.
        key_id:
          type:
          - string
          - 'null'
          description: Public identifier of the current HMAC signing key.
        secret_storage:
          type: string
          enum:
          - encrypted
          - migration_required
        last_success_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
      additionalProperties: false
    OrganizationInvite:
      type: object
      required:
      - id
      - email
      - role
      - created_at
      - expires_at
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
        created_at:
          type: string
        expires_at:
          type: string
      additionalProperties: false
    UserListUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 5000
        color:
          type:
          - string
          - 'null'
          pattern: ^#[0-9A-Fa-f]{6}$
        kind:
          type: string
          enum:
          - company
          - person
          - mixed
      additionalProperties: false
    UserAuditResponse:
      type: object
      required:
      - count
      - entries
      properties:
        count:
          type: integer
        entries:
          type: array
          items:
            $ref: '#/components/schemas/UserAuditEntry'
          maxItems: 1000
      additionalProperties: false
    KycPersonLookupRequest:
      type: object
      required:
      - dni_or_nie
      - finalidad
      properties:
        dni_or_nie:
          type: string
          minLength: 8
          maxLength: 12
          writeOnly: true
          x-sensitive: true
          description: DNI/NIE supplied for this authenticated KYC request; never use it in public company/person routes.
        finalidad:
          type: string
          minLength: 12
          maxLength: 200
          description: Declared legitimate purpose recorded in the account audit log.
      additionalProperties: false
    LegalReportPaymentRequiredError:
      oneOf:
      - type: object
        required:
        - error
        - cost
        - balance
        - buy_url
        properties:
          error:
            type: string
            const: insufficient_credits
          cost:
            type: integer
            minimum: 0
          balance:
            type: integer
          buy_url:
            type: string
        additionalProperties: false
      - type: object
        required:
        - error
        properties:
          error:
            type: string
            const: charge_failed
        additionalProperties: false
    UserListItem:
      type: object
      description: Saved list item owned by the authenticated account.
      properties:
        id:
          type: integer
        list_id:
          type: integer
        item_type:
          type: string
        item_slug:
          type: string
        note:
          type: string
        added_at:
          type: string
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    OrganizationCreatedResponse:
      type: object
      required:
      - ok
      - org_id
      properties:
        ok:
          type: boolean
        org_id:
          type: integer
      additionalProperties: false
    JsonValue:
      description: A JSON value used only inside explicitly documented extension maps.
      oneOf:
      - type:
        - string
        - number
        - boolean
        - 'null'
      - type: array
        items:
          $ref: '#/components/schemas/JsonValue'
      - type: object
        additionalProperties:
          $ref: '#/components/schemas/JsonValue'
    WebhookUpdatedResponse:
      type: object
      required:
      - ok
      - webhook
      properties:
        ok:
          type: boolean
        webhook:
          $ref: '#/components/schemas/OutboundWebhook'
      additionalProperties: false
    SupportRequestErrorResponse:
      description: Support validation/ownership errors carry `ok=false`; shared body-reader and action-budget errors use the generic API error envelope.
      anyOf:
      - $ref: '#/components/schemas/SupportErrorResponse'
      - $ref: '#/components/schemas/ErrorResponse'
    UserListCreateRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          maxLength: 5000
        color:
          type:
          - string
          - 'null'
          pattern: ^#[0-9A-Fa-f]{6}$
        kind:
          type: string
          enum:
          - company
          - person
          - mixed
          default: company
      additionalProperties: false
    UserNoteUpdateRequest:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
          maxLength: 255
        body:
          type: string
          minLength: 1
          maxLength: 50000
        pinned:
          type: boolean
      additionalProperties: false
    UserNotesForTargetResponse:
      type: object
      required:
      - count
      - notes
      properties:
        count:
          type: integer
        notes:
          type: array
          items:
            $ref: '#/components/schemas/UserNote'
          maxItems: 500
      additionalProperties: false
    OrganizationInviteCreatedResponse:
      type: object
      required:
      - ok
      - invite_id
      - email
      - role
      - expires_at
      - renewed
      - email_sent
      properties:
        ok:
          type: boolean
        invite_id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
        expires_at:
          type: string
        renewed:
          type: boolean
        email_sent:
          type: boolean
      additionalProperties: false
    UserTagListResponse:
      type: object
      required:
      - count
      - tier_max
      - tags
      properties:
        count:
          type: integer
        tier_max:
          type: integer
        tags:
          type: array
          items:
            $ref: '#/components/schemas/UserTag'
      additionalProperties: false
    EmailDispatchResponse:
      type: object
      required:
      - ok
      - email_sent
      properties:
        ok:
          type: boolean
        email_sent:
          type: boolean
      additionalProperties: false
    StripeSessionResponse:
      type: object
      required:
      - url
      - session_id
      properties:
        url:
          type: string
          format: uri
        session_id:
          type: string
      additionalProperties: false
    UserSegment:
      type: object
      description: Saved account segment. Extra migration columns may be returned for backward compatibility.
      properties:
        id:
          type: integer
        user_id:
          type: integer
        name:
          type: string
        description:
          type: string
        filters_json:
          type: string
        filters:
          $ref: '#/components/schemas/UserSegmentStoredFilters'
        persona:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
        pinned:
          type:
          - integer
          - boolean
        created_at:
          type: string
        updated_at:
          type: string
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    OutboundWebhookContractedEventCatalogV1:
      type: array
      description: All event payload contracts known by this API version, including contracted-but-unwired events that cannot yet be subscribed.
      items:
        $ref: '#/components/schemas/OutboundWebhookContractedEventTypeV1'
      minItems: 8
      maxItems: 8
      uniqueItems: true
      x-webhook-event-contract-version: '1.0'
    LegalReportDocument:
      type: object
      required:
      - state
      - axes
      - totals
      properties:
        state:
          anyOf:
          - type: object
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        axes:
          type: array
          items:
            $ref: '#/components/schemas/LegalReportAxis'
        totals:
          type: object
          required:
          - axes_present
          - events_total
          - norms_cited
          properties:
            axes_present:
              type: integer
              minimum: 0
            events_total:
              type: integer
              minimum: 0
            norms_cited:
              type: array
              items:
                type: string
              uniqueItems: true
          additionalProperties: false
      additionalProperties: false
    UserMeResponse:
      type: object
      required:
      - id
      - plan
      - onboarded
      - csrf
      properties:
        id:
          type: integer
        email:
          type:
          - string
          - 'null'
          format: email
        name:
          type:
          - string
          - 'null'
        plan:
          type: string
        persona_primary:
          type:
          - string
          - 'null'
        onboarded:
          type: integer
        csrf:
          type: string
      additionalProperties: false
    UserNote:
      type: object
      description: Private note visible only to its authenticated owner.
      properties:
        id:
          type: integer
        user_id:
          type: integer
        target_type:
          type: string
        target_id:
          type: string
        title:
          type: string
        body:
          type: string
        pinned:
          type:
          - integer
          - boolean
        created_at:
          type: string
        updated_at:
          type: string
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    UserTagAssignmentRequest:
      type: object
      required:
      - target_type
      - target_id
      properties:
        target_type:
          type: string
          enum:
          - company
          - person
          - sector
          - borme_id
        target_id:
          type: string
          minLength: 1
          maxLength: 255
      additionalProperties: false
    KycLookupHistoryEntry:
      type: object
      required:
      - id
      - query_type
      - query_redacted
      - results_count
      - sources_matched
      - status
      - request_id
      - created_at
      properties:
        id:
          type: integer
        query_type:
          type: string
        query_redacted:
          type: string
        results_count:
          type: integer
        sources_matched:
          type: array
          items:
            type: string
        finalidad:
          type: string
        status:
          type: string
        request_id:
          type: string
        created_at:
          type: string
      additionalProperties: false
    OkResponse:
      type: object
      required:
      - ok
      properties:
        ok:
          type: boolean
      additionalProperties: false
    ApiCredentialCreateRequest:
      type: object
      required:
      - scopes
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 80
        scopes:
          type: array
          items:
            type: string
            enum:
            - public:read
            - companies:read
            - people:read
            - tenders:read
            - legal:read
            - integrations:read
            - exports:read
            - account:read
          uniqueItems: true
        expires_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Default 90 days; maximum 366 days.
      additionalProperties: false
    UserOrganizationMemberRoleRequest:
      type: object
      required:
      - role
      properties:
        role:
          type: string
          enum:
          - admin
[...]
