openapi: 3.1.0
info:
  title: OpenMercantil Companies API
  version: 1.9.3
  summary: Versioned public-read, browser-account, billing, support and provider-callback contracts.
  description: 'Public JSON API for Spanish company information derived from BORME and other public sources.
    OpenMercantil is an independent informational service; it is NOT the BOE, BORME or Registro Mercantil
    and does NOT replace official certificates or registry extracts.


    **Rate limits.** Free: 60 req/min y 200 req/día por IP. Planes superiores (Profesional 5.000 req/día,
    MAX 50.000 req/día, Enterprise 500.000+ req/día) según cuenta y API key. Cabeceras `X-RateLimit-Limit`,
    `X-RateLimit-Remaining`, `X-RateLimit-Reset`, `X-OpenMercantil-Plan`, `Retry-After`.


    **License and attribution.** Source-specific metadata in each response and the active versioned source
    catalog prevails. OpenMercantil does not relicense upstream content under a blanket license. Unknown,
    review and restricted datasets are omitted or return `503 legal_layer_unavailable`. BOE/BORME material
    is re-used under Ley 37/2007 and its official version remains boe.es. Court judgments are not exposed;
    CENDOJ remains citation-index only under CGPJ Reglamento 3/2010.


    **Machine-readable catalog (DCAT-AP-ES):** https://openmercantil.es/catalog.rdf'
  termsOfService: https://openmercantil.es/terminos-de-uso
  contact:
    name: OpenMercantil
    url: https://openmercantil.es/soporte
    email: social@openmercantil.es
  license:
    name: Source-specific upstream terms; see response catalog metadata
    url: https://openmercantil.es/terminos-de-uso
  x-publisher:
    name: OpenMercantil
    url: https://openmercantil.es/
    email: social@openmercantil.es
  x-spatial: http://publications.europa.eu/resource/authority/country/ESP
  x-temporal: 2009-01-01/..
  x-language: es
  x-dcat-catalog: https://openmercantil.es/catalog.rdf
  x-rate-limit:
    free:
      per_min: 60
      per_day: 200
      kind: anonymous-ip
    profesional:
      per_min: 120
      per_day: 5000
      kind: api-key
    max:
      per_min: 600
      per_day: 50000
      kind: api-key
    enterprise:
      per_min: 1200
      per_day: 500000
      kind: contract
  x-methodology: https://openmercantil.es/metodologia
  x-sources: https://openmercantil.es/fuentes
  x-corrections: https://openmercantil.es/correcciones
  x-contract-status: Public read, browser-account and provider-callback surfaces are explicitly separated
    in this contract. Operator/admin routes are excluded. The public MCP consumes only the allowlisted
    GET read plane.
  x-account-segment-contract:
    projection: company_public_v2 immutable corporate sidecar
    synchronous_row_cap: 500
    bounded_count_cap: 50001
    count_semantics: The segment run response count is the number of rows returned, never a global total.
      Dataset preview uses total_is_lower_bound=true and total_lower_bound when the bounded count reaches
      50001.
    related_web_dataset_surface:
      preview_path: /mi-cuenta/datasets/preview
      export_path: /mi-cuenta/datasets/export.csv
      synchronous_export_max_rows: 500
      overflow_status: 503
      overflow_error: async_export_required
  x-company-identity-contract:
    version: '1.0'
    projection: company_public_v2 immutable generation-bound corporate sidecar
    applies_to: Every /api/v1/company/{slug}*, /api/v1/empresa/{slug}* and /api/v1/grafo/{slug} read before
      any report, cache, graph or dataset lookup. /api/v1/companies/compare resolves both requested subjects
      in one bounded company_public_v2 batch before either row is exposed; MCP company tools inherit these
      preflights through REST.
    resolution:
      published: canonical corporate slug admitted
      safe_alias: internally canonicalized and Content-Location emitted
      withheld: neutral 404; includes absent, personal and ambiguous/quarantined identities
      unavailable: 503 with no-store; clients must not infer absence
    search: Exact corporate CIF, exact canonical/safe-alias slug, or bounded name_prefix2 pool scored
      in application code. DNI/NIE and ambiguous CIFs return zero items.
    public_company_count: company_public_projection_state.row_count
servers:
- url: https://openmercantil.es
  description: Production
tags:
- name: Companies
  description: Company reports and registry events
paths:
  /api/v1/company/{slug}:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlug
      tags:
      - Companies
      summary: Get a company report
      description: Return the structured company report only after company_public_v2 admits a corporate
        identity. A safe historical alias is resolved internally and reported through Content-Location;
        absent, personal or quarantined identities are neutral 404 responses and projection unavailability
        is 503.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: mercadona-sa
        description: Company slug.
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
          description: Company report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyReport'
        '304':
          description: The admitted, attested company report has not changed.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/companies/compare:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      x-company-identity-contract:
        projection: company_compare_v1
        subject_projection: company_public_v2
        cardinality: 2
        admission: one bounded batch admission for both requested slugs before either company is exposed
        canonical_order: lexicographic by canonical slug; requested_slugs, canonical_slugs and companies
          remain index-aligned
        withheld: neutral 404 with no partial company
        unavailable: 503 no-store; never reinterpret as absence
      operationId: compareCompanies
      x-query-contract:
        allowed:
        - slugs
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      summary: Compare exactly two admitted companies
      description: Returns only the stable company_compare_v1 projection. Both slugs are resolved together
        against the immutable company_public_v2 sidecar; safe aliases are canonicalized without redirects.
        The response excludes reports, blobs, officers, account data, scores and inferred relationships.
      parameters:
      - name: slugs
        in: query
        required: true
        style: form
        explode: false
        description: Exactly two distinct corporate slugs serialized as slugs=empresa-a,empresa-b.
        schema:
          type: array
          minItems: 2
          maxItems: 2
          uniqueItems: true
          items:
            type: string
            minLength: 1
            maxLength: 240
            pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          description: Two admitted companies in stable canonical order
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyCompareContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCompareResponse'
        '304':
          description: The generation-bound comparison has not changed
          headers:
            Content-Location:
              $ref: '#/components/headers/CompanyCompareContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
        '400':
          description: Malformed pair or both inputs resolve to the same company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCompareInvalidRequest'
        '404':
          description: At least one subject is absent, personal, ambiguous, quarantined or legally withheld
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCompareNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: The immutable company comparison projection or its authority is unavailable
          headers:
            Cache-Control:
              description: Projection outages are never cacheable.
              schema:
                type: string
                const: no-store
            Retry-After:
              description: Seconds to wait before a bounded retry.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/ProjectionUnavailableError'
                - $ref: '#/components/schemas/CompanyCompareLegalUnavailable'
  /api/v1/datasets/public:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: listPublicCompanyDownloads
      parameters:
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      tags:
      - Datasets
      - Companies
      summary: List generation-bound public company downloads
      description: Lists exactly the three bounded public company downloads admitted by company_public
        artifact contract 1.1. Every member is reverified through the immutable manifest and SHA-256 ledger
        before this atomic catalog is emitted. A missing, stale or tampered member makes the whole projection
        unavailable; raw company tables, local paths and legacy docroot fallbacks are never exposed.
      responses:
        '200':
          description: Atomic catalog of the three admitted public company downloads
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            ETag:
              $ref: '#/components/headers/EntityTag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCompanyDownloadCatalog'
        '304':
          description: The generation-bound download catalog has not changed
          headers:
            ETag:
              $ref: '#/components/headers/EntityTag'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/events:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugEvents
      tags:
      - Companies
      - BORME
      summary: Get paginated company events
      description: Return BORME events for a known company slug, optionally filtered by calendar year.
        The closed scalar query contract rejects unknown names, arrays and malformed integer values with
        400; valid integers outside their bounds return 422. If year is omitted, the server freezes the
        current UTC year for the request. Historical coverage starts at 1900 and year must be less than
        or equal to the current UTC year; there is no fixed calendar ceiling.
      x-query-contract:
        allowed:
        - year
        - page
        - page_size
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: mercadona-sa
      - name: year
        in: query
        required: false
        description: Calendar year from 1900 through the current UTC year (year <= current UTC year).
          Defaults dynamically to the current UTC year.
        schema:
          type: integer
          minimum: 1900
          x-maximum-dynamic: current_utc_year
          example: 2026
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 1
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Paginated event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEventsResponse'
        '304':
          description: The generation-bound event page has not changed.
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          description: A validly typed year, page or page_size is outside its documented range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/timeline:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugTimeline
      tags:
      - Companies
      - BORME
      summary: Get unified multi-source company timeline
      description: Fail-closed derived route. Return chronological events from the exact hash-attested
        BORME company report and the generation/company-bound PLACSP projection. BDNS coverage is explicitly
        unavailable_generation_bound_projection_missing and no BDNS row, empty-list claim or fallback
        is emitted. If either available authority cannot be verified, the route returns 503 without reading
        or caching raw source data.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: banco-santander-s-a
        description: Company slug.
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Multi-source timeline
          content:
            application/json:
              schema:
                type: object
                required:
                - slug
                - count
                - sources
                - events
                - coverage
                properties:
                  slug:
                    type: string
                  count:
                    type: integer
                    maximum: 100
                  sources:
                    type: array
                    items:
                      type: string
                      enum:
                      - borme
                      - placsp
                    minItems: 2
                    maxItems: 2
                    example:
                    - borme
                    - placsp
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        category:
                          type: string
                          enum:
                          - borme
                          - contratos
                        type:
                          type: string
                        title:
                          type: string
                        amount_eur:
                          type:
                          - number
                          - 'null'
                        source_slug:
                          type: string
                          enum:
                          - borme
                          - placsp
                        source_url:
                          type: string
                        confidence:
                          type: string
                          enum:
                          - high
                          - medium
                          - low
                        amount_semantics:
                          type: string
                      additionalProperties: false
                  coverage:
                    type: object
                    required:
                    - borme
                    - placsp
                    - bdns
                    properties:
                      borme:
                        type: string
                      placsp:
                        type: string
                      bdns:
                        type: string
                        const: unavailable_generation_bound_projection_missing
                    additionalProperties: false
                  _disclaimer:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/company/{slug}/officers:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugOfficers
      tags:
      - Companies
      - Persons
      summary: Get current and historical company officers
      description: Return at most 500 officer mentions from the same cached, policy-filtered company projection
        used by the canonical company route. The JSON body is capped at 1 MiB. Persons are documentary
        mentions only — no DNI, contact data or personal address.
      x-rate-limit: plan policy (see info.x-rate-limit)
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: banco-santander-s-a
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Officer list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfficerList'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Bounded cached officer projection unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineProjectionError'
  /api/v1/company/{slug}/contracts:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugContracts
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      - Public Procurement
      summary: Get PLACSP procurement notices linked to a legal entity
      description: Requires the legal-first PLACSP v3 projection, including typed budget, estimate and
        award fields plus corporate supplier edges. It never falls back to the legacy untyped table and
        never sums mixed monetary concepts. A CIF link is documentary and does not prove payment or executed
        spend.
      x-rate-limit: plan policy (see info.x-rate-limit)
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: banco-santander-s-a
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Contracts list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProcurementResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/procurement:
    get:
      operationId: getCompanyBySlugProcurement
      x-query-contract:
        allowed: []
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      - Public Procurement
      summary: Alias of /contracts
      description: Documentary alias for /contracts endpoint. Same payload and projection requirements;
        `_alias_of` contains the canonical route.
      x-rate-limit: plan policy (see info.x-rate-limit)
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Procurement awards (alias of contracts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyProcurementResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          description: Legal-first PLACSP projection unavailable
  /api/v1/company/{slug}/grants:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugGrants
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      - Public Procurement
      summary: Get BDNS public grants
      description: Read only company_integrations_public_v1 after company_public_v2 admission. Returns
        up to 200 attested BDNS rows and never queries the canonical grants table. Monetary values are
        awarded amounts in integer cents, never payments; ambiguous raw zero is null. Empty is complete
        bounded-projection coverage, not proof of absence upstream.
      parameters:
      - $ref: '#/components/parameters/CompanySlugPath'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 100
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
          description: Grants list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyGrantsResponse'
        '304':
          description: The admitted company, projection generation and legal envelope have not changed
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/ip:
    get:
      operationId: getCompanyBySlugIp
      tags:
      - Companies
      summary: Get policy-gated aggregated trademarks and patents
      description: Fail-closed aggregate over OEPM/EUIPO/EPO data. Because upstream provenance cannot
        currently be separated in the aggregate, the route returns 503 until an exact aggregate-dataset
        decision authorizes every component and derivative use.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Trademarks + patents counts with states legend
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  trademarks:
                    type: object
                    properties:
                      count:
                        type: integer
                      active:
                        type: integer
                      sources:
                        type: array
                        items:
                          type: string
                        example:
                        - OEPM
                        - EUIPO
                  patents:
                    type: object
                    properties:
                      count:
                        type: integer
                      active:
                        type: integer
                      sources:
                        type: array
                        items:
                          type: string
                        example:
                        - OEPM
                        - EPO
                        - WIPO
                  states_legend:
                    type: object
                    additionalProperties:
                      type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/sources:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugSources
      x-query-contract:
        allowed: []
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      summary: Get bounded public integration coverage for a company
      description: Return the four generation-bound company integration sources (BDNS, CNMV, TED and Wikidata)
        with explicit available/empty coverage and projection-bound license metadata. It never probes
        BORME, PLACSP, OEPM, GLEIF, sanctions, raw helpers or connector telemetry. Empty never proves
        upstream absence.
      parameters:
      - $ref: '#/components/parameters/CompanySlugPath'
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
          description: Generation-bound coverage for exactly four safe company integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySourcesResponse'
        '304':
          description: The admitted company, projection generation and legal envelope have not changed
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/sanctions:
    get:
      operationId: getCompanyBySlugSanctions
      tags:
      - Companies
      - Risk Signals
      summary: Get policy-gated sanctions dataset
      description: This route is fail-closed. It returns data only when the exact sanctions dataset has
        a valid public decision, license metadata and identity policy in the active source catalog. OpenSanctions
        is currently in review, so the route returns 503 without reading or serializing its payload.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sanctions list when the exact dataset is authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySanctionsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/empresa/{slug}/facts:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getEmpresaBySlugFacts
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      - BORME
      summary: Get extracted BORME facts for a company
      description: Return structured facts extracted from BORME publications grouped by type (appointments,
        removals, capital changes, etc.). Spanish-friendly alias of /company.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Grouped facts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFactsResponse'
        '304':
          description: The attested facts report and exact limit have not changed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/facts:
    get:
      operationId: getLegacyCompanyBySlugFacts
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      - BORME
      summary: Get extracted BORME facts through the legacy English alias
      description: Deprecated alias of `GET /api/v1/empresa/{slug}/facts`. It preserves the same legal-entity
        subject guard and BORME source policy.
      deprecated: true
      x-replaced-by: /api/v1/empresa/{slug}/facts
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          description: Grouped facts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFactsResponse'
        '304':
          description: The attested facts report and exact limit have not changed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/sector/{cnae}/companies:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getSectorByCnaeCompanies
      x-query-contract:
        allowed:
        - limit
        - offset
        - sort
        - province
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
        combinations: province permits only sort=recent|oldest; other documented sort values return 422
      tags:
      - Sectors
      - Companies
      summary: Get companies by CNAE sector code
      description: Return companies belonging to a given CNAE (Clasificación Nacional de Actividades Económicas)
        sector. CNAE codes 1-4 digits (eg. 62 = programación, 6201 = programación informática).
      parameters:
      - name: cnae
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9A-Z]{1,4}$
          example: '62'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 1000
          default: 0
      - name: sort
        in: query
        required: false
        description: With province only recent and oldest are accepted so the request stays index-backed.
        schema:
          type: string
          enum:
          - acts
          - recent
          - oldest
          - name
          default: acts
      - name: province
        in: query
        required: false
        schema:
          type: string
          maxLength: 80
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Companies in sector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectorCompaniesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Required sector-company index unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/company/{slug}/relationships:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugRelationships
      x-query-contract:
        allowed:
        - type
        - confidence
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      summary: Get documentary relationships of a company
      description: 'Return all documented relationships between this company and other entities (companies,
        persons, contracts, grants, IP assets, organisms). Each relationship includes source attribution,
        date, confidence level and evidence URL. LEGAL NOTE: relationships are documentary only — they
        do not imply control, responsibility, irregularity or current vigency.'
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - officer
          - domicile
          - contract
          - grant
          - ip
          - corporate
          - mention
        description: Filter by relationship type
      - name: confidence
        in: query
        required: false
        schema:
          type: string
          enum:
          - high
          - medium
          - low
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Documented relationships list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyRelationshipsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/risk-signals:
    get:
      operationId: getCompanyBySlugRiskSignals
      tags:
      - Companies
      - Risk Signals
      summary: Get documentary risk signals
      description: Return only documentary signals whose exact dataset and negative-claim surface are
        authorized by the active source catalog. Other integrated sources are omitted without implying
        absence of the underlying fact. CENDOJ judgment text, OpenSanctions, AEPD and any unknown dataset
        are not exposed unless a future version records a field-specific public decision. Appearance never
        implies guilt, infringement, responsibility or current liability.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Risk signals with disclaimers
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  signals_count:
                    type: integer
                  signals:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - aepd_sanction
                          - cnmc_sanction
                          - concurso
                          - aeat_moroso
                          - cendoj_judgment
                          - opensanctions
                          - other
                        source_slug:
                          type: string
                        source_url:
                          type: string
                        date:
                          type: string
                          format: date
                        summary:
                          type: string
                        confidence:
                          type: string
                          enum:
                          - high
                          - medium
                          - low
                        homonymy_warning:
                          type: boolean
                        disclaimer:
                          type: string
                  source_catalog_version:
                    type: string
                  policy_scope:
                    type: string
                  _legal_notice:
                    type: string
                    example: Documentary signals only. Appearance does not imply guilt, infringement or
                      current liability.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/lei:
    get:
      operationId: getCompanyBySlugLei
      tags:
      - Companies
      summary: Get policy-gated GLEIF LEI record
      description: Fail-closed route. GLEIF license declarations conflict in repository evidence and the
        dataset remains in review; the route returns 503 until a future catalog version records an exact
        validated public decision.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: LEI record when GLEIF is authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyLeiResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/bde:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugBde
      tags:
      - Companies
      summary: Get Banco de España sector ratios for a company CNAE
      description: Join the already admitted company_public_v2 identity to the immutable Central de Balances
        sector projection using the company's two-digit CNAE. The response binds both immutable generations.
        This is sector benchmarking, not a supervised-entity record, company-specific financial statement
        or score. coverage_status distinguishes a missing CNAE, an unprojected sector and a match; empty
        coverage never proves that no Banco de España data exists.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: CNAE sector-ratio projection or its documented empty shape
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyBdeResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/cnmv:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugCnmv
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      summary: Get the CNMV listed-company projection and recent events
      description: Read only company_integrations_public_v1 after company_public_v2 admission. Returns
        one minimized listing tuple and up to 20 attested documentary events. It does not certify current
        supervision or imply a negative fact; empty coverage is not proof of non-listing.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - $ref: '#/components/parameters/CompanySlugPath'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 5
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
          description: CNMV listed-company projection or its documented empty shape
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCnmvResponse'
        '304':
          description: The admitted company, projection generation and legal envelope have not changed
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/aeat-moroso:
    get:
      operationId: getCompanyBySlugAeatMoroso
      tags:
      - Companies
      - Risk Signals
      summary: Check policy-gated AEAT debtor-list mention
      description: Negative-claim route gated before lookup. It returns 503 until the exact AEAT dataset
        has validated reuse, identity-match and cite-or-abstain policy metadata. Appearance would be documentary
        only and never imply current liability.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Debtor list mention or empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAeatDebtorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/wikidata:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugWikidata
      x-query-contract:
        allowed: []
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      summary: Get the bounded Wikidata company metadata projection
      description: 'Read only the CC0 structured subset in company_integrations_public_v1 after company_public_v2
        admission: Q-id, entity URL, ticker and inception. Labels, logos, websites, CEO text, LEI and
        Wikipedia content are excluded. Empty coverage is not proof that the company is absent upstream.'
      x-rate-limit: free 60/min · 200/day
      parameters:
      - $ref: '#/components/parameters/CompanySlugPath'
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
          description: Wikidata metadata projection or its documented empty shape
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyWikidataResponse'
        '304':
          description: The admitted company, projection generation and legal envelope have not changed
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/ted:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugTed
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      - Public Procurement
      summary: Get TED notice records linked to this corporate NIF
      description: 'Read only company_integrations_public_v1 after company_public_v2 admission. Returns
        up to 100 minimized TED notice links: publication number/date, buyer and official notice URL.
        Tenderer, currency and free-form connector fields are excluded. Rows do not prove payment, executed
        spend or current contractual status.'
      x-rate-limit: free 60/min · 200/day
      parameters:
      - $ref: '#/components/parameters/CompanySlugPath'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
          description: Bounded TED documentary records linked to the admitted corporate NIF
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyTedResponse'
        '304':
          description: The admitted company, projection generation and legal envelope have not changed
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
            Content-Location:
              $ref: '#/components/headers/CompanyContentLocation'
            ETag:
              $ref: '#/components/headers/EntityTag'
            Cache-Control:
              $ref: '#/components/headers/PrivateRevalidationCacheControl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/accounts:
    get:
      operationId: getCompanyBySlugAccounts
      tags:
      - Companies
      summary: Get policy-gated filed accounts metadata
      description: Fail-closed aggregate over mixed CNMV, BORME section II and REA-derived metadata. The
        route returns 503 until provenance can be filtered before aggregate fields are calculated and
        the exact annual-accounts decision becomes public.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Accounts metadata list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAccountsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/geocode:
    get:
      operationId: getCompanyBySlugGeocode
      tags:
      - Companies
      summary: Company geocode projection (unavailable)
      description: Fail-closed route. Address parsing and Nominatim access are forbidden in the request
        path; it always returns 503 until an approved offline `company_geocode_v1` projection exists.
        Enabling the source policy alone cannot activate network or database writes.
      deprecated: true
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/activity:
    get:
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      operationId: getCompanyBySlugActivity
      tags:
      - Companies
      summary: Activity time series
      description: Return monthly registry activity count for the company over the last N months. Useful
        for sparklines.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          description: Time series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActivityResponse'
        '304':
          description: The admitted activity projection has not changed.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Source policy, subject classification or activity projection unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/company/{slug}/score:
    get:
      operationId: getCompanyBySlugScore
      tags:
      - Companies
      summary: Documentary completeness score (no risk/credit scoring)
      description: Fail-closed derived route. Return a documentary completeness indicator only after the
        exact score derivation is explicitly authorized in the active public source catalog. It is never
        a credit, risk or trust score. Until authorization, the route returns 503 before reading data.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Completeness score
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActivityScoreResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/similar:
    get:
      operationId: getCompanyBySlugSimilar
      x-query-contract:
        allowed:
        - limit
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
        range: 422 validation_failed
      tags:
      - Companies
      summary: Similar companies (province + CNAE2 + BORME activity)
      description: Return admitted companies in the same province and published two-digit CNAE division,
        ranked by proximity of BORME act count. This documentary heuristic is neither a relationship nor
        a recommendation; every result is independently admitted by company_public_v2.
      security:
      - {}
      - apiKey: []
      - bearerAuth: []
      x-api-credential-scope: companies:read
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 8
      responses:
        '200':
          description: Similar companies list
          headers:
            X-Data-Sources:
              $ref: '#/components/headers/XDataSources'
            X-Source-Catalog-Version:
              $ref: '#/components/headers/XSourceCatalogVersion'
            X-Attribution-Required:
              $ref: '#/components/headers/XAttributionRequired'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySimilarResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/embargoes:
    get:
      operationId: getCompanyBySlugEmbargoes
      tags:
      - Companies
      - Risk Signals
      summary: Documentary embargo/garnishment mentions
      description: Return documentary mentions of embargoes (embargo de bienes, anotaciones registrales)
        when published in public registries. Documentary only — does not certify current status.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Embargo mentions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEmbargoesResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/LegalLayerUnavailable'
  /api/v1/company/{slug}/network:
    get:
      operationId: getCompanyBySlugNetwork
      tags:
      - Companies
      - Graph
      summary: Documentary network projection (temporarily unavailable)
      description: The former synchronous graph calculation is disabled because its cold path exceeded
        the request budget. This route returns 503 until an indexed, legally governed offline projection
        is available.
      deprecated: true
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          description: Offline projection required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineProjectionError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/company/{slug}/enrichment:
    get:
      operationId: getCompanyBySlugEnrichment
      tags:
      - Companies
      summary: Fail-closed public enrichment payload
      description: Return only datasets authorized by the versioned public-source catalog. Unknown, review
        and restricted datasets are removed with their data before caching. The response includes license,
        attribution and policy-date metadata for every source that remains.
      x-rate-limit: free 60/min · 200/day
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/IfNoneMatchHeader'
      responses:
        '200':
          description: Enrichment payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyEnrichmentResponse'
        '304':
          description: The admitted enrichment projection and source policy have not changed.
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/PublicReadUnavailable'
  /api/v1/company/{slug}/export:
    get:
      operationId: getCompanyBySlugExport
      x-query-contract:
        allowed: []
        unknown: 400 invalid_parameter
        non_scalar: 400 invalid_parameter
        lexical: 400 invalid_parameter
      tags:
      - Companies
      - Datasets
      summary: Export a single company report
      description: Return the same policy-filtered cached company projection as the canonical company
        route, serialized as downloadable JSON. The response is capped at 8 MiB and fails closed instead
        of rebuilding an oversized payload.
      x-rate-limit: plan policy (see info.x-rate-limit)
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Bounded cached company projection unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineProjectionError'
  /api/v1/empresa/{slug}/informe-legal:
    post:
      operationId: createCompanyLegalReport
      tags:
      - Legal
      - Companies
      - User
      summary: Create the authenticated user's redacted corporate legal report
      description: Account and credit-entitlement surface for a legal entity only. The server owns beta/pricing
        policy and a daily idempotency key scoped to user, company and UTC date; clients cannot choose
        price or entitlement. Every report is recursively PII-redacted before egress. Documentary events
        and citations do not prove wrongdoing, solvency, current status, identity of a natural person
        or completeness, and this informational report is not legal advice or an official certificate.
        Unknown or unauthorized source policy, natural-person subjects and missing helpers fail closed.
        The JSON body is capped at 32 KiB and accepts only the CSRF fallback.
      x-plane: account-paid-egress
      x-entitlement: legal_report (server-owned credits/beta policy)
      x-source-policy: legal_report_v1; fail closed until a versioned public decision authorizes every
        included source
      x-activation-status: policy-closed
      x-idempotency-key: 'server: legal_report:{user_id}:{company_slug}:{UTC-date}'
      x-max-body-bytes: 32768
      x-rate-limit: API plan policy plus a per-user action budget of 10 attempts per 15 minutes and 50
        per day
      x-privacy: Corporate subjects only; recursive PII redaction before serialization
      x-mcp-excluded: true
      security:
      - cookieAuth: []
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-z0-9-]+$
      - $ref: '#/components/parameters/CsrfHeader'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalReportRequest'
      responses:
        '200':
          description: Redacted documentary corporate report and server-owned charging result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalReportResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits or the idempotent charge could not be completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalReportPaymentRequiredError'
        '403':
          description: Invalid or missing CSRF token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Corporate subject not found or the slug is classified as a natural-person subject
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: not_found
        '413':
          description: Request body exceeds 32 KiB
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestBodyTooLargeError'
              example:
                error: request_body_too_large
                max_bytes: 32768
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          description: Action-budget storage, legal source policy, report helper, account schema or credit
            ledger unavailable; generation fails closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  headers:
    CompanyCompareContentLocation:
      description: Canonical comparison URL with the two canonical slugs in stable lexical order.
      schema:
        type: string
        pattern: ^/api/v1/companies/compare\?slugs=[a-z0-9]+(?:-[a-z0-9]+)*,[a-z0-9]+(?:-[a-z0-9]+)*$
      example: /api/v1/companies/compare?slugs=empresa-a-sa,empresa-b-sl
    CompanyContentLocation:
      description: Present when a safe historical company alias was accepted and processed as its canonical
        company slug.
      schema:
        type: string
        pattern: ^/api/v1/(?:company|empresa|grafo)/[a-z0-9]+(?:-[a-z0-9]+)*(?:/.*)?$
      example: /api/v1/company/mercadona-sa
    EntityTag:
      description: Strong generation-bound entity tag for conditional GET.
      schema:
        type: string
        pattern: ^"[a-f0-9]{64}"$
    NoStoreCacheControl:
      description: Error responses must not be stored.
      schema:
        type: string
        const: no-store
    PrivateRevalidationCacheControl:
      description: Caller-specific rate-limit and plan headers make this representation private. A private
        cache may retain the body but must revalidate every request; shared caches must not store or reuse
        it.
      schema:
        type: string
        const: private, no-cache, must-revalidate
    XAttributionRequired:
      description: Optional. When present, comma-separated public source aliases whose attribution terms
        must accompany reuse.
      schema:
        type: string
        minLength: 1
        pattern: ^[a-z0-9][a-z0-9_.-]*(,[a-z0-9][a-z0-9_.-]*)*$
      example: placsp
    XDataSources:
      description: Comma-separated aliases from the active public source catalog that contributed to the
        response. Omitted only when a valid exact filter returns an empty representation with zero contributing
        sources.
      schema:
        type: string
        minLength: 1
        pattern: ^[a-z0-9][a-z0-9_.-]*(,[a-z0-9][a-z0-9_.-]*)*$
      example: borme,placsp
    XSourceCatalogVersion:
      description: Mandatory on every successful public GET. Exact version of the legal source catalog
        used to authorize the response.
      schema:
        type: string
        minLength: 1
      example: 2026-07-12.2
  parameters:
    CompanySlugPath:
      name: slug
      in: path
      required: true
      description: Exact corporate slug admitted by company_public_v2; no empty segments, leading/trailing
        hyphen or repeated separator.
      schema:
        type: string
        pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
        minLength: 1
    CsrfHeader:
      name: X-CSRF-Token
      in: header
      required: true
      description: Fresh token returned by GET /api/v1/user/me for this authenticated session.
      schema:
        type: string
        minLength: 32
        maxLength: 256
    IfNoneMatchHeader:
      name: If-None-Match
      in: header
      required: false
      description: Optional RFC 9110 entity-tag validator. Weak validators, comma-separated validator
        lists and `*` are accepted.
      schema:
        type: string
        minLength: 1
        maxLength: 8192
  responses:
    BadRequest:
      description: Invalid request
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: The bounded operation failed without exposing internal exception details.
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    LegalLayerUnavailable:
      description: 'Controlled fail-closed denial: the required dataset or legal layer is absent, invalid,
        unsupported or not authorized for this public surface.'
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: legal_layer_unavailable
            detail: Este dataset no esta habilitado para redistribucion publica por la politica de fuentes
              activa.
            source_catalog_version: 2026-07-12.2
    NotFound:
      description: Resource not found
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PublicReadUnavailable:
      description: The public read failed closed because its legal source catalog, subject classification,
        bounded projection, database helper or required artifact is unavailable. Clients must not infer
        an empty result.
      headers:
        Cache-Control:
          description: Unavailable public reads are never cacheable.
          schema:
            type: string
            const: no-store
        Retry-After:
          description: Optional number of seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            anyOf:
            - $ref: '#/components/schemas/ProjectionUnavailableError'
            - $ref: '#/components/schemas/ErrorResponse'
          examples:
            legal_layer:
              value:
                error: legal_layer_unavailable
            company_identity:
              value:
                error: company_public_projection_unavailable
            projection:
              value:
                error: projection_unavailable
                detail: La proyección pública requerida no está disponible.
                projection: wikidata_company_v1
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required (no active session)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationFailed:
      description: The query is lexically valid but outside a documented numeric or length bound, or uses
        an unsupported indexed combination.
      headers:
        Cache-Control:
          $ref: '#/components/headers/NoStoreCacheControl'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    BdeSectorMetric:
      type: object
      required:
      - value
      - unit
      - year
      - source
      properties:
        value:
          type: number
        unit:
          type: string
        year:
          type: integer
        source:
          type: string
          const: bde
      additionalProperties: false
    BormeEvent:
      type: object
      description: Sanitized documentary BORME event; additional source fields remain backward compatible.
      properties:
        id:
          type:
          - string
          - 'null'
        date:
          type:
          - string
          - 'null'
        publish_date:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        act_type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        text:
          type:
          - string
          - 'null'
        province:
          type:
          - string
          - 'null'
        source:
          type:
          - string
          - 'null'
        source_url:
          type:
          - string
          - 'null'
          format: uri
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    BormeFact:
      type: object
      description: Sanitized structured BORME fact; DNI/NIE is redacted before caching.
      properties:
        fact_type:
          type: string
        publish_date:
          type:
          - string
          - 'null'
        event_date:
          type:
          - string
          - 'null'
        text_value:
          type:
          - string
          - 'null'
        person_name:
          type:
          - string
          - 'null'
        role:
          type:
          - string
          - 'null'
        source_url:
          type:
          - string
          - 'null'
          format: uri
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    CnmvEventRecord:
      type: object
      required:
      - date
      - type
      - title
      - notice_url
      properties:
        date:
          type: string
          format: date
        type:
          type: string
          minLength: 1
          maxLength: 120
        title:
          type: string
          minLength: 1
          maxLength: 500
        notice_url:
          type: string
          format: uri
          pattern: ^https://(?:[^/]+\.)?cnmv\.es/
      additionalProperties: false
    CnmvListingRecord:
      type: object
      required:
      - ticker
      - isin
      - market
      properties:
        ticker:
          type: string
          minLength: 1
          maxLength: 20
        isin:
          type: string
          minLength: 12
          maxLength: 12
        market:
          type: string
          minLength: 1
          maxLength: 80
      additionalProperties: false
    CompanyAccountsResponse:
      type: object
      description: Current annual-accounts aggregate helper response. The operation remains source-policy
        gated; al_dia and has_financials are runtime aggregate flags, not registry certificates.
      required:
      - projection_status
      - projection
      - slug
      - cif
      - count
      - al_dia
      - last_year
      - last_deposit_date
      - has_financials
      - years
      - _source_catalog
      - _data_sources_used
      properties:
        projection_status:
          type: string
          const: available
        projection:
          type: string
          const: annual_accounts_v1
        slug:
          type: string
        cif:
          type:
          - string
          - 'null'
        count:
          type: integer
          minimum: 0
        al_dia:
          type: boolean
        last_year:
          type:
          - integer
          - 'null'
        last_deposit_date:
          type:
          - string
          - 'null'
        has_financials:
          type: boolean
        years:
          oneOf:
          - type: object
            propertyNames:
              pattern: ^-?[0-9]+$
            additionalProperties:
              $ref: '#/components/schemas/FinancialAccountsRecord'
          - type: array
            maxItems: 0
        _source_catalog:
          $ref: '#/components/schemas/SourceCatalogEnvelope'
        _data_sources_used:
          type: array
          items:
            $ref: '#/components/schemas/PublicSourcePolicyMetadata'
        _attributions:
          type: object
          additionalProperties:
            type: string
      additionalProperties: false
    CompanyActivityResponse:
      type: object
      required:
      - slug
      - count
      - series
      properties:
        slug:
          type: string
        count:
          type: integer
        series:
          type: array
          items:
            type: object
            properties:
              period:
                type: string
              count:
                type: integer
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
      additionalProperties: false
    CompanyActivityScoreResponse:
      type: object
      required:
      - slug
      - score
      - breakdown
      properties:
        slug:
          type: string
        score:
          type: number
          minimum: 0
          maximum: 100
        breakdown:
          type: object
          additionalProperties:
            type: object
            required:
            - value
            - max
            - desc
            properties:
              value:
                type: number
              max:
                type: number
              desc:
                type: string
            additionalProperties: false
        methodology:
          type:
          - string
          - 'null'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    CompanyAeatDebtorResponse:
      type: object
      required:
      - slug
      - listed
      properties:
        slug:
          type: string
        cif:
          type:
          - string
          - 'null'
        listed:
          type: boolean
        debt_eur:
          type:
          - number
          - 'null'
        period:
          type:
          - string
          - 'null'
        published_date:
          type:
          - string
          - 'null'
        history:
          type: array
          items:
            $ref: '#/components/schemas/JsonValue'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    CompanyBdeResponse:
      type: object
      description: Banco de Espana Central de Balances ratios for the company's two-digit CNAE sector.
        These are sector metrics, not a supervised-entity record or company score.
      required:
      - projection_status
      - projection
      - slug
      - is_alias
      - identity_generation
      - projection_generation
      - projected_at
      - source_catalog_version
      - coverage_status
      - has_data
      - metrics
      - _source_catalog
      - _data_sources_used
      properties:
        projection_status:
          type: string
          const: available
        projection:
          type: string
          const: bde_sector_ratios_v1
        slug:
          type: string
        is_alias:
          type: boolean
        identity_generation:
          type: string
          pattern: ^cpv2-[a-f0-9]{64}$
        projection_generation:
          type: string
          pattern: ^sr1-[a-f0-9]{64}$
        projected_at:
          type: string
          format: date-time
        source_catalog_version:
          type: string
          minLength: 1
        coverage_status:
          type: string
          enum:
          - matched
          - sector_not_projected
          - cnae_unavailable
        has_data:
          type: boolean
        cnae_code:
          type: string
        sector_code:
          type: string
          pattern: ^[0-9]{2}$
        metrics:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/BdeSectorMetric'
        _source_catalog:
          $ref: '#/components/schemas/SourceCatalogEnvelope'
        _data_sources_used:
          type: array
          items:
            $ref: '#/components/schemas/PublicSourcePolicyMetadata'
        _attributions:
          type: object
          additionalProperties:
            type: string
      additionalProperties: false
    CompanyCnmvResponse:
      type: object
      description: Generation-bound minimized CNMV view. A null listing or empty events array describes
        this bounded projection only.
      required:
      - projection_status
      - projection
      - slug
      - cif
      - complete_bounded_projection
      - coverage_status
      - source_metadata
      - coverage_notice
      - listing
      - events_total
      - returned_events_count
      - events
      - documentary_notice
      - _source_catalog
      - _data_sources_used
      properties:
        projection_status:
          type: string
          const: available
        projection:
          $ref: '#/components/schemas/CompanyIntegrationProjection'
        slug:
          type: string
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
        cif:
          type: string
          pattern: ^[ABCDEFGHJNPQRSUVW][0-9]{7}[0-9A-J]$
        complete_bounded_projection:
          type: boolean
          const: true
        coverage_status:
          type: string
          enum:
          - available
          - empty
        source_metadata:
          $ref: '#/components/schemas/CompanyIntegrationSourceMetadata'
        coverage_notice:
          type: string
        listing:
          anyOf:
          - $ref: '#/components/schemas/CnmvListingRecord'
          - type: 'null'
        events_total:
          type: integer
          minimum: 0
          maximum: 20
        returned_events_count:
          type: integer
          minimum: 0
          maximum: 20
        events:
          type: array
          maxItems: 20
          items:
            $ref: '#/components/schemas/CnmvEventRecord'
        documentary_notice:
          type: string
        _source_catalog:
          $ref: '#/components/schemas/SourceCatalogEnvelope'
        _data_sources_used:
          type: array
          items:
            $ref: '#/components/schemas/PublicSourcePolicyMetadata'
        _attributions:
          type: object
          additionalProperties:
            type: string
      additionalProperties: false
    CompanyCompareAuthority:
      type: object
      description: Public generation authority. Internal paths and identity/content/contract/policy fingerprints
        are deliberately omitted.
      required:
      - projection
      - schema_version
      - builder_version
      - source_generation
      - projected_at
      - row_count
      - cache_namespace
      properties:
        projection:
          type: string
          const: company_public_v2
        schema_version:
          type: string
          minLength: 1
        builder_version:
          type: string
          minLength: 1
        source_generation:
          type: string
          pattern: ^cpv2-[a-f0-9]{64}$
        projected_at:
          type: string
          minLength: 1
        row_count:
          type: integer
          minimum: 1
        cache_namespace:
          type: string
          minLength: 1
          maxLength: 240
          pattern: ^[a-z0-9_.:-]+$
      additionalProperties: false
    CompanyCompareEntity:
      type: object
      description: Exact allowlisted company_public_v2 row used by a comparison. No report, officer, status,
        score, account or raw fields are permitted.
      required:
      - slug
      - name
      - cif
      - province
      - cnae_code
      - cnae_section
      - capital_cents
      - first_seen
      - last_seen
      - acts_count
      properties:
        slug:
          type: string
          maxLength: 240
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
        name:
          type: string
          minLength: 1
        cif:
          type: string
          pattern: ^[ABCDEFGHJNPQRSUVW][0-9]{7}[0-9A-J]$
        province:
          type:
          - string
          - 'null'
        cnae_code:
          type:
          - string
          - 'null'
        cnae_section:
          type:
          - string
          - 'null'
        capital_cents:
          type:
          - integer
          - 'null'
          minimum: 0
        first_seen:
          type:
          - string
          - 'null'
        last_seen:
          type:
          - string
          - 'null'
        acts_count:
          type: integer
          minimum: 0
      additionalProperties: false
    CompanyCompareInvalidRequest:
      type: object
      required:
      - error
      - detail
      properties:
        error:
          type: string
          const: invalid_parameter
        detail:
          type: string
      additionalProperties: false
    CompanyCompareLegalUnavailable:
      type: object
      description: The active public-source policy could not authorize BORME before comparison admission.
      required:
      - error
      - detail
      - source_catalog_version
      properties:
        error:
          type: string
          const: legal_layer_unavailable
        detail:
          type: string
        source_catalog_version:
          type: string
          minLength: 1
      additionalProperties: false
    CompanyCompareNotFound:
      type: object
      description: Neutral absence envelope; it does not identify which input was absent or withheld.
      required:
      - error
      properties:
        error:
          type: string
          const: not_found
      additionalProperties: false
    CompanyCompareResponse:
      type: object
      description: Stable company_compare_v1 response. All three arrays are index-aligned and sorted lexicographically
        by canonical slug.
      required:
      - status
      - projection
      - projection_status
      - requested_slugs
      - canonical_slugs
      - companies
      - authority
      properties:
        status:
          type: string
          const: available
        projection:
          type: string
          const: company_compare_v1
        projection_status:
          type: string
          const: available
        requested_slugs:
          type: array
          minItems: 2
          maxItems: 2
          uniqueItems: true
          items:
            type: string
            maxLength: 240
            pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
        canonical_slugs:
          type: array
          minItems: 2
          maxItems: 2
          uniqueItems: true
          items:
            type: string
            maxLength: 240
            pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
        companies:
          type: array
          minItems: 2
          maxItems: 2
          items:
            $ref: '#/components/schemas/CompanyCompareEntity'
        authority:
          $ref: '#/components/schemas/CompanyCompareAuthority'
      additionalProperties: false
    CompanyEmbargoesResponse:
      type: object
      required:
      - slug
      - count
      - items
      - source
      - note
      properties:
        slug:
          type: string
        count:
          type: integer
        summary:
          anyOf:
          - type: object
            properties:
              count:
                type: integer
              total_amount_eur:
                type:
                - number
                - 'null'
              latest_date:
                type:
                - string
                - 'null'
            additionalProperties:
              $ref: '#/components/schemas/JsonValue'
          - type: 'null'
        items:
          type: array
          items:
            $ref: '#/components/schemas/EmbargoRecord'
          maxItems: 100
        source:
          type: string
        note:
          type: string
      additionalProperties: false
    CompanyEnrichmentResponse:
      type: object
      description: Policy-filtered enrichment envelope. Only public catalog sources survive egress filtering.
      properties:
        slug:
          type: string
        sources:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/JsonValue'
        _source_catalog:
          $ref: '#/components/schemas/SourceCatalogEnvelope'
        _data_sources_used:
          type: array
          items:
            $ref: '#/components/schemas/PublicSourcePolicyMetadata'
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
    CompanyEventsResponse:
      type: object
      required:
      - slug
      - year
      - page
      - page_size
      - total
      - pages
      - items
      properties:
        slug:
          type: string
        year:
          type: string
          pattern: ^\d{4}$
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        pages:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/BormeEvent'
          maxItems: 100
      additionalProperties: false
    CompanyFactsResponse:
      type: object
      required:
      - slug
      - count
      - has_more
      - facts
      - summary
      - source
      properties:
        slug:
          type: string
        count:
          type: integer
        has_more:
          type: boolean
        facts:
          type: array
          items:
            $ref: '#/components/schemas/BormeFact'
          maxItems: 200
        summary:
          type: object
          description: Closed summary derived from the same hash-attested company report as the returned
            facts.
          required:
          - total_facts
          - first_seen
          - last_seen
          - types
          properties:
            total_facts:
              type: integer
              minimum: 0
            first_seen:
              type:
              - string
              - 'null'
              format: date
            last_seen:
              type:
              - string
              - 'null'
              format: date
            types:
              type: object
              description: Counts keyed by the documented BORME fact_type.
              additionalProperties:
                type: integer
                minimum: 0
          additionalProperties: false
        attribution:
          type: string
        source:
          type: string
          const: borme
        sync_date:
          type: string
          format: date-time
      additionalProperties: false
    CompanyGrantsResponse:
      type: object
      description: Generation-bound BDNS view. count is the total projected row count; returned_count
        is the bounded slice length. No monetary rollup is emitted.
      required:
      - projection_status
      - projection
      - slug
      - cif
      - complete_bounded_projection
      - coverage_status
      - source_metadata
      - coverage_notice
      - count
      - returned_count
      - items
      - amount_notice
      - _source_catalog
      - _data_sources_used
      properties:
        projection_status:
          type: string
[...]
