openapi: 3.0.3
info:
  title: OpenMercantil Public Billing Persons API
  version: 1.4.0
  description: 'Public JSON API for Spanish company information derived from BORME and other

    public sources. OpenMercantil is independent and informational; it is not

    the BOE, BORME or Registro Mercantil and does not replace official

    certificates or registry extracts. The API is free and public, requires no

    API key, and is rate-limited per IP. Versions v1.0 through v1.4 are

    available and documented at https://openmercantil.es/api/documentacion.

    '
  termsOfService: https://openmercantil.es/terminos-de-uso
  contact:
    name: OpenMercantil
    url: https://openmercantil.es/soporte
    email: social@openmercantil.es
  license:
    name: CC BY 4.0 For Derived Public-Data Outputs
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://openmercantil.es
  description: Production
tags:
- name: Persons
  description: Person search and person reports
paths:
  /api/v1/person/search:
    get:
      tags:
      - Persons
      summary: Search Persons
      operationId: searchPersons
      description: Search persons (officers, administrators, beneficial owners) by name.
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          example: amancio ortega
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Person search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/person/{slug}:
    get:
      tags:
      - Persons
      summary: Get A Person Report
      operationId: getPerson
      description: Return the structured person report including roles and historical positions.
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: amancio-ortega-gaona
      responses:
        '200':
          description: Person report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonReport'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/persona/{slug}/contracts:
    get:
      tags:
      - Persons
      summary: List Public Contracts For Person
      operationId: getPersonContracts
      description: List public procurement (PLACSP) contracts associated with the person (v1.4).
      parameters:
      - name: slug
        in: path
        required: true
        schema:
          type: string
          example: amancio-ortega-gaona
      responses:
        '200':
          description: Contracts list
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    PersonReport:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Officer'
      additionalProperties: true
    Officer:
      type: object
      properties:
        person_slug:
          type: string
        name:
          type: string
        role:
          type: string
        appointed:
          type: string
          format: date
          nullable: true
        ceased:
          type: string
          format: date
          nullable: true
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      additionalProperties: true
    PersonSearchItem:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        company_count:
          type: integer
      additionalProperties: true
    PersonSearchResponse:
      type: object
      properties:
        query:
          type: string
        count:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/PersonSearchItem'
      additionalProperties: true
  responses:
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema:
            type: integer
        X-RateLimit-Limit:
          description: Maximum requests per window (60 per minute by IP on the public anonymous tier).
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Remaining requests in the current window.
          schema:
            type: integer
        X-RateLimit-Reset:
          description: Unix timestamp when the rate-limit counter resets.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie issued after web sign-in, required only for billing endpoints.
