{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenMercantil API",
    "version": "1.9.3",
    "summary": "Versioned public-read, browser-account, billing, support and provider-callback contracts.",
    "description": "Public JSON API for Spanish company information derived from BORME and other public sources. OpenMercantil is an independent informational service; it is NOT the BOE, BORME or Registro Mercantil and does NOT replace official certificates or registry extracts.\n\n**Rate limits.** Free: 60 req/min y 200 req/día por IP. Planes superiores (Profesional 5.000 req/día, MAX 50.000 req/día, Enterprise 500.000+ req/día) según cuenta y API key. Cabeceras `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`, `X-OpenMercantil-Plan`, `Retry-After`.\n\n**License and attribution.** Source-specific metadata in each response and the active versioned source catalog prevails. OpenMercantil does not relicense upstream content under a blanket license. Unknown, review and restricted datasets are omitted or return `503 legal_layer_unavailable`. BOE/BORME material is re-used under Ley 37/2007 and its official version remains boe.es. Court judgments are not exposed; CENDOJ remains citation-index only under CGPJ Reglamento 3/2010.\n\n**Machine-readable catalog (DCAT-AP-ES):** https://openmercantil.es/catalog.rdf",
    "termsOfService": "https://openmercantil.es/terminos-de-uso",
    "contact": {
      "name": "OpenMercantil",
      "url": "https://openmercantil.es/soporte",
      "email": "social@openmercantil.es"
    },
    "license": {
      "name": "Source-specific upstream terms; see response catalog metadata",
      "url": "https://openmercantil.es/terminos-de-uso"
    },
    "x-publisher": {
      "name": "OpenMercantil",
      "url": "https://openmercantil.es/",
      "email": "social@openmercantil.es"
    },
    "x-spatial": "http://publications.europa.eu/resource/authority/country/ESP",
    "x-temporal": "2009-01-01/..",
    "x-language": "es",
    "x-dcat-catalog": "https://openmercantil.es/catalog.rdf",
    "x-rate-limit": {
      "free":         { "per_min": 60,   "per_day": 200,     "kind": "anonymous-ip" },
      "profesional":  { "per_min": 120,  "per_day": 5000,    "kind": "api-key" },
      "max":          { "per_min": 600,  "per_day": 50000,   "kind": "api-key" },
      "enterprise":   { "per_min": 1200, "per_day": 500000,  "kind": "contract" }
    },
    "x-methodology": "https://openmercantil.es/metodologia",
    "x-sources": "https://openmercantil.es/fuentes",
    "x-corrections": "https://openmercantil.es/correcciones",
    "x-contract-status": "Public read, browser-account and provider-callback surfaces are explicitly separated in this contract. Operator/admin routes are excluded. The public MCP consumes only the allowlisted GET read plane.",
    "x-account-segment-contract": {
      "projection": "company_public_v2 immutable corporate sidecar",
      "synchronous_row_cap": 500,
      "bounded_count_cap": 50001,
      "count_semantics": "The segment run response count is the number of rows returned, never a global total. Dataset preview uses total_is_lower_bound=true and total_lower_bound when the bounded count reaches 50001.",
      "related_web_dataset_surface": {
        "preview_path": "/mi-cuenta/datasets/preview",
        "export_path": "/mi-cuenta/datasets/export.csv",
        "synchronous_export_max_rows": 500,
        "overflow_status": 503,
        "overflow_error": "async_export_required"
      }
    },
    "x-company-identity-contract": {
      "version": "1.0",
      "projection": "company_public_v2 immutable generation-bound corporate sidecar",
      "applies_to": "Every /api/v1/company/{slug}*, /api/v1/empresa/{slug}* and /api/v1/grafo/{slug} read before any report, cache, graph or dataset lookup. /api/v1/companies/compare resolves both requested subjects in one bounded company_public_v2 batch before either row is exposed; MCP company tools inherit these preflights through REST.",
      "resolution": {
        "published": "canonical corporate slug admitted",
        "safe_alias": "internally canonicalized and Content-Location emitted",
        "withheld": "neutral 404; includes absent, personal and ambiguous/quarantined identities",
        "unavailable": "503 with no-store; clients must not infer absence"
      },
      "search": "Exact corporate CIF, exact canonical/safe-alias slug, or bounded name_prefix2 pool scored in application code. DNI/NIE and ambiguous CIFs return zero items.",
      "public_company_count": "company_public_projection_state.row_count"
    }
  },
  "externalDocs": {
    "description": "Documentación narrativa con ejemplos en curl/Python/JavaScript",
    "url": "https://openmercantil.es/api/documentacion"
  },
  "servers": [
    {
      "url": "https://openmercantil.es",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Company and person search endpoints"
    },
    {
      "name": "Companies",
      "description": "Company reports and registry events"
    },
    {
      "name": "Persons",
      "description": "Documentary mentions of natural persons in BORME (officer roles). Persons treated as documentary mentions only — no DNI, no contact data, no scoring."
    },
    {
      "name": "Sectors",
      "description": "CNAE sector aggregates, ratios and company listings"
    },
    {
      "name": "BORME",
      "description": "Daily BORME publications, multi-source timeline and registry events"
    },
    {
      "name": "Public Procurement",
      "description": "Public procurement awards (PLACSP) and grants (BDNS)"
    },
    {
      "name": "Risk Signals",
      "description": "Documentary risk signals from public sources (AEPD, CNMC, concursos, AEAT moroso, CENDOJ)"
    },
    {
      "name": "Graph",
      "description": "Corporate and person-to-company relationship graphs. Every emitted record retains the source-specific terms authorized by the active public source catalog; no blanket relicensing applies."
    },
    {
      "name": "Datasets",
      "description": "Bulk exports (CSV / JSON / aggregated stats)"
    },
    {
      "name": "Sources",
      "description": "Source catalog metadata, freshness and integration status"
    },
    {
      "name": "Integrations",
      "description": "Public read-only connector catalog. Never exposes credentials, OAuth tokens, webhook secrets or operator actions."
    },
    {
      "name": "System",
      "description": "Service health and metadata"
    },
    {
      "name": "User",
      "description": "Authenticated Panel Pro endpoints — segments, lists, notes, tags, exports, audit. Requires session cookie (browser) and X-CSRF-Token header for mutations."
    },
    {
      "name": "Billing",
      "description": "Session-bound Stripe checkout, invoices and portal contracts. External actions are bounded, idempotent and never exposed through the public MCP."
    },
    {
      "name": "Support",
      "description": "Customer-support writes. Anonymous creation requires explicit privacy consent; replies require an authenticated owner session and CSRF. Ticket data is never exposed through the public MCP."
    },
    {
      "name": "Legal",
      "description": "Spanish mercantile-law layer (derecho mercantil): legislation corpus + article texts + act→norm bridge. Distributes the consolidated BOE legal corpus structured by OpenMercantil so LLMs and agents can cite it as a source. License: consolidated text from the BOE, reused under Ley 37/2007 (re-use of public sector information); the official version is always boe.es. Informational only — NOT legal advice. Court judgments are NOT exposed here (CENDOJ is kept as a citation-index only, per CGPJ Reglamento 3/2010); this layer distributes legislation + the act↔norm index."
    }
  ],
  "paths": {
    "/api/v1/search": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getSearch",
        "x-query-contract": {"allowed":["q","limit","offset"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Search"],
        "summary": "Search published Spanish legal entities",
        "description": "Corporate-only search over the immutable company_public_v2 projection. It resolves an exact corporate CIF, an exact canonical/safe-alias slug, or a bounded name-prefix pool. DNI/NIE, malformed identifier-shaped input and ambiguous/quarantined CIFs return zero items; there is no raw companies/search_idx or disk-index fallback.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120,
              "example": "mercadona"
            },
            "description": "Search query: company name, alias or CIF."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum number of results."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 0
            },
            "description": "Bounded pagination offset. Values above 1000 fail with 422; future deep pagination requires a generation-bound cursor."
          },
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "304": {"description": "The admitted corporate search projection and exact normalized query have not changed."},
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlug",
        "tags": ["Companies"],
        "summary": "Get a company report",
        "description": "Return the structured company report only after company_public_v2 admits a corporate identity. A safe historical alias is resolved internally and reported through Content-Location; absent, personal or quarantined identities are neutral 404 responses and projection unavailability is 503.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mercadona-sa"
            },
            "description": "Company slug."
          },
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyContentLocation"}
            },
            "description": "Company report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyReport"
                }
              }
            }
          },
          "304": {"description": "The admitted, attested company report has not changed."},
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/companies/compare": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "x-company-identity-contract": {
          "projection": "company_compare_v1",
          "subject_projection": "company_public_v2",
          "cardinality": 2,
          "admission": "one bounded batch admission for both requested slugs before either company is exposed",
          "canonical_order": "lexicographic by canonical slug; requested_slugs, canonical_slugs and companies remain index-aligned",
          "withheld": "neutral 404 with no partial company",
          "unavailable": "503 no-store; never reinterpret as absence"
        },
        "operationId": "compareCompanies",
        "x-query-contract": {"allowed":["slugs"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter"},
        "tags": ["Companies"],
        "summary": "Compare exactly two admitted companies",
        "description": "Returns only the stable company_compare_v1 projection. Both slugs are resolved together against the immutable company_public_v2 sidecar; safe aliases are canonicalized without redirects. The response excludes reports, blobs, officers, account data, scores and inferred relationships.",
        "parameters": [
          {
            "name": "slugs",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "description": "Exactly two distinct corporate slugs serialized as slugs=empresa-a,empresa-b.",
            "schema": {
              "type": "array",
              "minItems": 2,
              "maxItems": 2,
              "uniqueItems": true,
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 240,
                "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
              }
            }
          },
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "description": "Two admitted companies in stable canonical order",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyCompareContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"}
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CompanyCompareResponse"}
              }
            }
          },
          "304": {
            "description": "The generation-bound comparison has not changed",
            "headers": {
              "Content-Location": {"$ref": "#/components/headers/CompanyCompareContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"}
            }
          },
          "400": {
            "description": "Malformed pair or both inputs resolve to the same company",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CompanyCompareInvalidRequest"}
              }
            }
          },
          "404": {
            "description": "At least one subject is absent, personal, ambiguous, quarantined or legally withheld",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CompanyCompareNotFound"}
              }
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {
            "description": "The immutable company comparison projection or its authority is unavailable",
            "headers": {
              "Cache-Control": {
                "description": "Projection outages are never cacheable.",
                "schema": {"type": "string", "const": "no-store"}
              },
              "Retry-After": {
                "description": "Seconds to wait before a bounded retry.",
                "schema": {"type": "integer", "minimum": 1}
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/ProjectionUnavailableError"},
                    {"$ref": "#/components/schemas/CompanyCompareLegalUnavailable"}
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/datasets/public": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "listPublicCompanyDownloads",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets", "Companies"],
        "summary": "List generation-bound public company downloads",
        "description": "Lists exactly the three bounded public company downloads admitted by company_public artifact contract 1.1. Every member is reverified through the immutable manifest and SHA-256 ledger before this atomic catalog is emitted. A missing, stale or tampered member makes the whole projection unavailable; raw company tables, local paths and legacy docroot fallbacks are never exposed.",
        "responses": {
          "200": {
            "description": "Atomic catalog of the three admitted public company downloads",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"}
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PublicCompanyDownloadCatalog"}
              }
            }
          },
          "304": {
            "description": "The generation-bound download catalog has not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/events": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugEvents",
        "tags": ["Companies", "BORME"],
        "summary": "Get paginated company events",
        "description": "Return BORME events for a known company slug, optionally filtered by calendar year. The closed scalar query contract rejects unknown names, arrays and malformed integer values with 400; valid integers outside their bounds return 422. If year is omitted, the server freezes the current UTC year for the request. Historical coverage starts at 1900 and year must be less than or equal to the current UTC year; there is no fixed calendar ceiling.",
        "x-query-contract": {"allowed":["year","page","page_size"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mercadona-sa"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "description": "Calendar year from 1900 through the current UTC year (year <= current UTC year). Defaults dynamically to the current UTC year.",
            "schema": {
              "type": "integer",
              "minimum": 1900,
              "x-maximum-dynamic": "current_utc_year",
              "example": 2026
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Paginated event list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyEventsResponse"
                }
              }
            }
          },
          "304": {"description": "The generation-bound event page has not changed."},
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {
            "description": "A validly typed year, page or page_size is outside its documented range",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/timeline": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugTimeline",
        "tags": ["Companies", "BORME"],
        "summary": "Get unified multi-source company timeline",
        "description": "Fail-closed derived route. Return chronological events from the exact hash-attested BORME company report and the generation/company-bound PLACSP projection. BDNS coverage is explicitly unavailable_generation_bound_projection_missing and no BDNS row, empty-list claim or fallback is emitted. If either available authority cannot be verified, the route returns 503 without reading or caching raw source data.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "example": "banco-santander-s-a"},
            "description": "Company slug."
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Multi-source timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["slug", "count", "sources", "events", "coverage"],
                  "properties": {
                    "slug": {"type": "string"},
                    "count": {"type": "integer", "maximum": 100},
                    "sources": {"type": "array", "items": {"type": "string", "enum": ["borme","placsp"]}, "minItems": 2, "maxItems": 2, "example": ["borme","placsp"]},
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {"type": "string", "format": "date"},
                          "category": {"type": "string", "enum": ["borme","contratos"]},
                          "type": {"type": "string"},
                          "title": {"type": "string"},
                          "amount_eur": {"type": ["number", "null"]},
                          "source_slug": {"type": "string", "enum": ["borme","placsp"]},
                          "source_url": {"type": "string"},
                          "confidence": {"type": "string", "enum": ["high","medium","low"]},
                          "amount_semantics": {"type": "string"}
                        },
                        "additionalProperties": false
                      }
                    },
                    "coverage": {
                      "type": "object",
                      "required": ["borme", "placsp", "bdns"],
                      "properties": {
                        "borme": {"type": "string"},
                        "placsp": {"type": "string"},
                        "bdns": {"type": "string", "const": "unavailable_generation_bound_projection_missing"}
                      },
                      "additionalProperties": false
                    },
                    "_disclaimer": {"type": "string"}
                  }
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"},
          "429": {"$ref": "#/components/responses/TooManyRequests"}
        }
      }
    },
    "/api/v1/company/{slug}/officers": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugOfficers",
        "tags": ["Companies", "Persons"],
        "summary": "Get current and historical company officers",
        "description": "Return at most 500 officer mentions from the same cached, policy-filtered company projection used by the canonical company route. The JSON body is capped at 1 MiB. Persons are documentary mentions only — no DNI, contact data or personal address.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "example": "banco-santander-s-a"}
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Officer list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfficerList"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"description": "Bounded cached officer projection unavailable", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OfflineProjectionError"}}}}
        }
      }
    },
    "/api/v1/company/{slug}/contracts": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugContracts",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Companies", "Public Procurement"],
        "summary": "Get PLACSP procurement notices linked to a legal entity",
        "description": "Requires the legal-first PLACSP v3 projection, including typed budget, estimate and award fields plus corporate supplier edges. It never falls back to the legacy untyped table and never sums mixed monetary concepts. A CIF link is documentary and does not prove payment or executed spend.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string", "example": "banco-santander-s-a"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 30}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Contracts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProcurementResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/procurement": {
      "get": {
        "operationId": "getCompanyBySlugProcurement",
        "x-query-contract": {"allowed":[],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter"},
        "tags": ["Companies", "Public Procurement"],
        "summary": "Alias of /contracts",
        "description": "Documentary alias for /contracts endpoint. Same payload and projection requirements; `_alias_of` contains the canonical route.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Procurement awards (alias of contracts)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyProcurementResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"description": "Legal-first PLACSP projection unavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/grants": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugGrants",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Companies", "Public Procurement"],
        "summary": "Get BDNS public grants",
        "description": "Read only company_integrations_public_v1 after company_public_v2 admission. Returns up to 200 attested BDNS rows and never queries the canonical grants table. Monetary values are awarded amounts in integer cents, never payments; ambiguous raw zero is null. Empty is complete bounded-projection coverage, not proof of absence upstream.",
        "parameters": [
          {"$ref": "#/components/parameters/CompanySlugPath"},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 100}},
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"$ref": "#/components/headers/PrivateRevalidationCacheControl"}
            },
            "description": "Grants list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyGrantsResponse"
                }
              }
            }
          },
          "304": {
            "description": "The admitted company, projection generation and legal envelope have not changed",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"$ref": "#/components/headers/PrivateRevalidationCacheControl"}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/ip": {
      "get": {
        "operationId": "getCompanyBySlugIp",
        "tags": ["Companies"],
        "summary": "Get policy-gated aggregated trademarks and patents",
        "description": "Fail-closed aggregate over OEPM/EUIPO/EPO data. Because upstream provenance cannot currently be separated in the aggregate, the route returns 503 until an exact aggregate-dataset decision authorizes every component and derivative use.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Trademarks + patents counts with states legend",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {"type": "string"},
                    "trademarks": {
                      "type": "object",
                      "properties": {
                        "count": {"type": "integer"},
                        "active": {"type": "integer"},
                        "sources": {"type": "array", "items": {"type": "string"}, "example": ["OEPM","EUIPO"]}
                      }
                    },
                    "patents": {
                      "type": "object",
                      "properties": {
                        "count": {"type": "integer"},
                        "active": {"type": "integer"},
                        "sources": {"type": "array", "items": {"type": "string"}, "example": ["OEPM","EPO","WIPO"]}
                      }
                    },
                    "states_legend": {
                      "type": "object",
                      "additionalProperties": {"type": "string"}
                    }
                  }
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/sources": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugSources",
        "x-query-contract": {"allowed":[],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter"},
        "tags": ["Companies"],
        "summary": "Get bounded public integration coverage for a company",
        "description": "Return the four generation-bound company integration sources (BDNS, CNMV, TED and Wikidata) with explicit available/empty coverage and projection-bound license metadata. It never probes BORME, PLACSP, OEPM, GLEIF, sanctions, raw helpers or connector telemetry. Empty never proves upstream absence.",
        "parameters": [
          {"$ref": "#/components/parameters/CompanySlugPath"},
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"$ref": "#/components/headers/PrivateRevalidationCacheControl"}
            },
            "description": "Generation-bound coverage for exactly four safe company integrations",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CompanySourcesResponse"}
              }
            }
          },
          "304": {
            "description": "The admitted company, projection generation and legal envelope have not changed",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Content-Location": {"$ref": "#/components/headers/CompanyContentLocation"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"$ref": "#/components/headers/PrivateRevalidationCacheControl"}
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/sanctions": {
      "get": {
        "operationId": "getCompanyBySlugSanctions",
        "tags": ["Companies", "Risk Signals"],
        "summary": "Get policy-gated sanctions dataset",
        "description": "This route is fail-closed. It returns data only when the exact sanctions dataset has a valid public decision, license metadata and identity policy in the active source catalog. OpenSanctions is currently in review, so the route returns 503 without reading or serializing its payload.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Sanctions list when the exact dataset is authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySanctionsResponse"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"}
        }
      }
    },
    "/api/v1/daily/{date}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getDailyByDate",
        "tags": ["BORME"],
        "summary": "Get BORME daily summary",
        "description": "Return the BORME publication summary for a given date with all acts grouped by province and type. Source: official BORME publication. Cached 24h.",
        "parameters": [
          {"name": "date", "in": "path", "required": true, "schema": {"type": "string", "format": "date", "example": "2026-05-18"}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Daily summary with acts list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySummary"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/summary/date/{date}": {
      "get": {
        "operationId": "getLegacyDailySummaryByDate",
        "tags": ["BORME"],
        "summary": "Get a BORME daily summary through the legacy alias",
        "description": "Deprecated alias of `GET /api/v1/daily/{date}`. It returns the same attributed BORME daily projection; new clients must use the canonical route.",
        "deprecated": true,
        "x-replaced-by": "/api/v1/daily/{date}",
        "parameters": [
          {"name": "date", "in": "path", "required": true, "schema": {"type": "string", "format": "date", "example": "2026-05-18"}}
        ],
        "responses": {
          "200": {"description": "Daily summary with acts list", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DailySummary"}}}},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"}
        }
      }
    },
    "/api/v1/empresa/{slug}/facts": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getEmpresaBySlugFacts",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Companies", "BORME"],
        "summary": "Get extracted BORME facts for a company",
        "description": "Return structured facts extracted from BORME publications grouped by type (appointments, removals, capital changes, etc.). Spanish-friendly alias of /company.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 50}},
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Grouped facts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyFactsResponse"
                }
              }
            }
          },
          "304": {"description": "The attested facts report and exact limit have not changed."},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/facts": {
      "get": {
        "operationId": "getLegacyCompanyBySlugFacts",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Companies", "BORME"],
        "summary": "Get extracted BORME facts through the legacy English alias",
        "description": "Deprecated alias of `GET /api/v1/empresa/{slug}/facts`. It preserves the same legal-entity subject guard and BORME source policy.",
        "deprecated": true,
        "x-replaced-by": "/api/v1/empresa/{slug}/facts",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 200, "default": 50}},
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {"description": "Grouped facts", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompanyFactsResponse"}}}},
          "304": {"description": "The attested facts report and exact limit have not changed."},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/persona/{slug}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "people:read",
        "operationId": "getPersonaBySlug",
        "tags": ["Persons"],
        "summary": "Get documentary mentions of a person",
        "description": "Return an exact, attested person_public_v1 documentary-mention report bound to the same company_public_v2 source generation. Available is 200/private no-store; absent, withheld, ambiguous or quarantined is a neutral 404; authority, hash, binding or generation failure is 503/no-store. No raw persons fallback. No DNI/NIE, contact/address, photo/social data, enrichment, sanctions, scoring, person-procurement inference, identity resolution or vigency inference.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string", "example": "calero-brazalez-juan-jose"}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Cache-Control": {"schema": {"type": "string"}, "description": "no-store"}
            },
            "description": "Person documentary mentions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonDocumentaryReport"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/sector/{cnae}/companies": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getSectorByCnaeCompanies",
        "x-query-contract": {"allowed":["limit","offset","sort","province"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed","combinations":"province permits only sort=recent|oldest; other documented sort values return 422"},
        "tags": ["Sectors", "Companies"],
        "summary": "Get companies by CNAE sector code",
        "description": "Return companies belonging to a given CNAE (Clasificación Nacional de Actividades Económicas) sector. CNAE codes 1-4 digits (eg. 62 = programación, 6201 = programación informática).",
        "parameters": [
          {"name": "cnae", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[0-9A-Z]{1,4}$", "example": "62"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 100, "default": 20}},
          {"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 0, "maximum": 1000, "default": 0}},
          {"name": "sort", "in": "query", "required": false, "description": "With province only recent and oldest are accepted so the request stays index-backed.", "schema": {"type": "string", "enum": ["acts", "recent", "oldest", "name"], "default": "acts"}},
          {"name": "province", "in": "query", "required": false, "schema": {"type": "string", "maxLength": 80}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Companies in sector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectorCompaniesResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"description": "Required sector-company index unavailable", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}
        }
      }
    },
    "/api/v1/company/{slug}/relationships": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugRelationships",
        "x-query-contract": {"allowed":["type","confidence"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter"},
        "tags": ["Companies"],
        "summary": "Get documentary relationships of a company",
        "description": "Return all documented relationships between this company and other entities (companies, persons, contracts, grants, IP assets, organisms). Each relationship includes source attribution, date, confidence level and evidence URL. LEGAL NOTE: relationships are documentary only — they do not imply control, responsibility, irregularity or current vigency.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "type", "in": "query", "required": false, "schema": {"type": "string", "enum": ["officer","domicile","contract","grant","ip","corporate","mention"]}, "description": "Filter by relationship type"},
          {"name": "confidence", "in": "query", "required": false, "schema": {"type": "string", "enum": ["high","medium","low"]}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Documented relationships list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyRelationshipsResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "500": {"$ref": "#/components/responses/InternalServerError"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/risk-signals": {
      "get": {
        "operationId": "getCompanyBySlugRiskSignals",
        "tags": ["Companies", "Risk Signals"],
        "summary": "Get documentary risk signals",
        "description": "Return only documentary signals whose exact dataset and negative-claim surface are authorized by the active source catalog. Other integrated sources are omitted without implying absence of the underlying fact. CENDOJ judgment text, OpenSanctions, AEPD and any unknown dataset are not exposed unless a future version records a field-specific public decision. Appearance never implies guilt, infringement, responsibility or current liability.",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Risk signals with disclaimers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {"type": "string"},
                    "signals_count": {"type": "integer"},
                    "signals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {"type": "string", "enum": ["aepd_sanction","cnmc_sanction","concurso","aeat_moroso","cendoj_judgment","opensanctions","other"]},
                          "source_slug": {"type": "string"},
                          "source_url": {"type": "string"},
                          "date": {"type": "string", "format": "date"},
                          "summary": {"type": "string"},
                          "confidence": {"type": "string", "enum": ["high","medium","low"]},
                          "homonymy_warning": {"type": "boolean"},
                          "disclaimer": {"type": "string"}
                        }
                      }
                    },
                    "source_catalog_version": {"type": "string"},
                    "policy_scope": {"type": "string"},
                    "_legal_notice": {"type": "string", "example": "Documentary signals only. Appearance does not imply guilt, infringement or current liability."}
                  }
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/sector/{cnae}/ratios": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getSectorByCnaeRatios",
        "tags": ["Sectors"],
        "summary": "Get sector aggregated ratios",
        "description": "Return Banco de Espana Central de Balances aggregate metrics by two-digit CNAE division and year from the immutable, hash-addressed sector_ratios_public_v1 bundle. Coverage is sector-aggregate only: it contains neither individual-company data nor a company score. The endpoint fails closed with 503, without a raw/request-path fallback, when activation, manifest, file hash or public-source catalog authority cannot be verified.",
        "parameters": [
          {"name": "cnae", "in": "path", "required": true, "description": "Exact two-digit CNAE division present in the reviewed BdE aggregate.", "schema": {"type": "string", "pattern": "^[0-9]{2}$", "minLength": 2, "maxLength": 2}},
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=3600, must-revalidate"}}
            },
            "description": "Sector ratios",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SectorRatiosResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not modified; the verified projection generation and legal source authority are unchanged.",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=3600, must-revalidate"}}
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/grafo/{slug}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getGrafoBySlug",
        "x-query-contract": {"allowed":["max_children"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Graph"],
        "summary": "Get corporate graph for a company",
        "description": "Return a graph centered on a company admitted by company_public_v2. Each GLEIF parent/child candidate is independently batch-admitted and its public identity is overlaid from the same sidecar; absent, personal or ambiguous candidates are omitted. SEC external nodes remain withheld until they have an external corporate-identity projection. Source-specific license metadata prevails.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "endesa-energia-sa"
            },
            "description": "Company slug."
          },
          {
            "name": "max_children",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Maximum number of children entities returned."
          },
          {"$ref": "#/components/parameters/IfNoneMatchHeader"}
        ],
        "responses": {
          "200": {
            "description": "Company corporate graph",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Cache-Control": {
                "schema": {"type": "string"},
                "description": "no-store"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyGraphResponse"
                }
              }
            }
          },
          "304": {"description": "The admitted graph projection has not changed."},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"}
        }
      }
    },
    "/api/v1/grafo/persona/{slug}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "people:read",
        "operationId": "getGrafoPersonaBySlug",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Graph"],
        "summary": "Get person-to-company graph",
        "description": "Return a private/no-store BORME-only graph derived from an exact person_public_v1 report. Every company edge is revalidated against the same company_public_v2 generation. It contains no UK/external-person enrichment and does not infer identity, control or vigency. Withheld/absent is neutral 404; unavailable authority is 503/no-store.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "florentino-perez-rodriguez"
            },
            "description": "Person slug."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "description": "Maximum number of companies returned."
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Cache-Control": {"schema": {"type": "string", "const": "private, no-store"}}
            },
            "description": "Person graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonGraphResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"}
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getHealth",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["System"],
        "summary": "Service health",
        "description": "Return service status and BORME freshness from exactly one bounded global_counters_v1 offline projection. Its ETag is also bound to the shared asv1 generation used by CCAA, sector and sources, with 60-second must-revalidate caching. A cold request never opens SQLite, validates person/company sidecars, scans artifact directories, probes CSV files or rebuilds counters. Missing, legacy, malformed or future-dated projection bytes return 503.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "description": "Health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "304": {
            "description": "The exact offline health representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getStats",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["System"],
        "summary": "Published public-dataset counters",
        "description": "Return the number of legal entities actually published in the active company_public_v2 sidecar, plus an optional offline person-mention approximation. It never exposes the raw 2.8M-row companies population and never runs a request-path COUNT. Sidecar unavailability is 503, not a zero/null company count.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "Stats response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_companies": {"type": "integer", "minimum": 1, "description": "company_public_projection_state.row_count for the active bundle"},
                    "total_persons_approx": {"type": ["integer", "null"], "example": 970000},
                    "person_count_source": {"type": ["string", "null"], "enum": ["person_public_v1", null], "description": "Null means person authority unavailable; never reinterpret as zero."},
                    "person_public_source_generation": {"type": ["string", "null"], "pattern": "^cpv2-[a-f0-9]{64}$"},
                    "built_at": {"type": "string", "format": "date-time"},
                    "timestamp": {"type": "string", "format": "date-time"},
                    "version": {"type": "string", "const": "1.2"},
                    "count_source": {"type": "string", "const": "company_public_v2"}
                  },
                  "required": ["total_companies", "total_persons_approx", "person_count_source", "person_public_source_generation", "built_at", "timestamp", "version", "count_source"],
                  "additionalProperties": false
                }
              }
            }
          },
          "304": {"description": "The company-public generation and bounded statistics representation have not changed."},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/sources/freshness": {
      "get": {
        "operationId": "getSourcesFreshness",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Sources"],
        "summary": "Per-source freshness map",
        "description": "Return a minimized freshness projection only for sources authorized by the versioned public-source catalog. The timestamp comes from the offline projection, never request time. Its ETag is bound to the shared asv1 stats generation and uses 60-second must-revalidate caching. Unknown, review and restricted sources are omitted. Connector health, errors, schedules and row counts are never exposed.",
        "security": [{}, {"apiKey": []}, {"bearerAuth": []}],
        "x-api-credential-scope": "integrations:read",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "description": "Freshness map",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Fail-closed public projection. Operational ingestion telemetry is intentionally absent.",
                  "properties": {
                    "generated_at": {"type": ["string", "null"], "format": "date-time", "description": "Offline projection generation time; null only for a legacy cache without provenance."},
                    "global": {
                      "type": "object",
                      "properties": {
                        "date": {"type": ["string", "null"], "format": "date-time"},
                        "label": {"type": ["string", "null"]},
                        "status": {"type": "string", "enum": ["current","stale","unknown"]}
                      }
                    },
                    "source_catalog_version": {"type": "string"},
                    "sources": {"type": "array", "items": {"$ref": "#/components/schemas/PublicSourceMetadata"}},
                    "count": {"type": "integer"},
                    "_legal_notice": {"type": "string"}
                  }
                }
              }
            }
          },
          "304": {
            "description": "The authorized freshness representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {
            "description": "The required offline freshness projection is absent, or the public-source legal policy cannot produce an authorized projection. This endpoint fails closed and never falls back to live connector telemetry.",
            "headers": {
              "Retry-After": {
                "description": "Seconds before retrying when the offline projection is absent.",
                "schema": {"type": "integer", "minimum": 0}
              }
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/OfflineProjectionError"},
                "examples": {
                  "projection_required": {
                    "value": {"error": "offline_projection_required", "projection": "sources_freshness_v5"}
                  },
                  "legal_layer_unavailable": {
                    "value": {"error": "legal_layer_unavailable"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/person/{slug}": {
      "get": {
        "operationId": "getLegacyPersonBySlug",
        "tags": ["Persons"],
        "summary": "Get documentary person mentions through the legacy English alias",
        "description": "Deprecated alias of `GET /api/v1/persona/{slug}`. The response remains a neutral set of attributed BORME documentary mentions, never an identity profile.",
        "deprecated": true,
        "x-replaced-by": "/api/v1/persona/{slug}",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string", "example": "calero-brazalez-juan-jose"}}
        ],
        "responses": {
          "200": {
            "description": "Same closed person_public_v1 report as the canonical Spanish route",
            "headers": {
              "Content-Location": {"schema": {"type": "string"}, "description": "Canonical /api/v1/persona/{slug} path"},
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Cache-Control": {"schema": {"type": "string", "const": "private, no-store"}}
            },
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PersonDocumentaryReport"}}}
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/sources/status": {
      "get": {
        "operationId": "getSourcesStatus",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Sources"],
        "summary": "Minimized public source metadata",
        "description": "Return only public catalog metadata and a coarse data date/freshness. Its ETag is bound to the shared asv1 stats generation and uses 60-second must-revalidate caching. This endpoint is not an operator health probe and does not expose connector status, errors, schedules, source URLs or item counts.",
        "x-rate-limit": "free 60/min · 200/day",
        "responses": {
          "200": {
            "description": "Fail-closed public source projection",
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PublicSourceStatusResponse"}}}
          },
          "304": {
            "description": "The minimized source-status representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/ccaa/stats.json": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCcaaStatsJson",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets"],
        "summary": "Aggregates by autonomous community (CCAA)",
        "description": "Return per-CCAA totals from the offline projection. The ETag is bound to the shared asv1 stats generation and uses 60-second must-revalidate caching. Award-procedure counts come only from the corporate PLACSP v3 summary; the deprecated `contracts_count` is an explicitly labelled alias and `contracts_total_eur` is always withheld. Also available without `.json` suffix. Returns 503 rather than rebuilding aggregates in PHP-FPM.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "description": "CCAA stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CcaaStatsResponse"
                }
              }
            }
          },
          "304": {
            "description": "The CCAA representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/ccaa/stats": {
      "get": {
        "operationId": "getLegacyCcaaStats",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets"],
        "summary": "Get CCAA aggregates through the suffix-less legacy alias",
        "description": "Deprecated alias of `GET /api/v1/ccaa/stats.json`. It reads the same bounded offline projection and never rebuilds aggregates in the request path.",
        "deprecated": true,
        "x-replaced-by": "/api/v1/ccaa/stats.json",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "description": "CCAA stats",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CcaaStatsResponse"}}}
          },
          "304": {
            "description": "The canonical CCAA representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"description": "Offline projection missing or stale"}
        }
      }
    },
    "/api/v1/sectores/stats.json": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getSectoresStatsJson",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets"],
        "summary": "Aggregates by CNAE sector",
        "description": "Return per-CNAE section totals from the offline projection. The ETag is bound to the shared asv1 stats generation and uses 60-second must-revalidate caching. Procurement fields distinguish award procedures from contracts and never expose an untyped monetary rollup. Also available as CSV. Returns 503 instead of executing a live GROUP BY.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "description": "Sector stats",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SectorStatsResponse"}}}
          },
          "304": {
            "description": "The sector representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/sectores/stats": {
      "get": {
        "operationId": "getLegacySectoresStats",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets"],
        "summary": "Get CNAE-sector aggregates through the suffix-less legacy alias",
        "description": "Deprecated alias of `GET /api/v1/sectores/stats.json`. It reads the same bounded offline projection and never executes a live GROUP BY.",
        "deprecated": true,
        "x-replaced-by": "/api/v1/sectores/stats.json",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "description": "Sector stats",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SectorStatsResponse"}}}
          },
          "304": {
            "description": "The canonical sector representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"description": "Offline projection missing or stale"}
        }
      }
    },
    "/api/v1/sectores/stats.csv": {
      "get": {
        "operationId": "getSectoresStatsCsv",
        "parameters": [{"$ref": "#/components/parameters/IfNoneMatchHeader"}],
        "tags": ["Datasets"],
        "summary": "Aggregates by CNAE sector (CSV)",
        "description": "Offline sector projection rendered as a bounded CSV representation with a shared-asv1 generation ETag and 60-second must-revalidate caching; no aggregation occurs in the request path. Canonical `award_procedures_count` and all semantic-status columns are included; `contracts_total_eur` remains empty/withheld.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "description": "Sector stats CSV",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            },
            "content": {"text/csv": {"schema": {"type": "string"}}}
          },
          "304": {
            "description": "The bounded sector CSV representation and shared stats generation have not changed",
            "headers": {
              "ETag": {"$ref": "#/components/headers/EntityTag"},
              "X-OpenMercantil-Stats-Generation": {"$ref": "#/components/headers/StatsGeneration"},
              "Cache-Control": {"schema": {"type": "string", "const": "public, max-age=60, must-revalidate"}}
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"description": "Offline projection missing or stale"}
        }
      }
    },
    "/api/v1/cnae/tree": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCnaeTree",
        "tags": ["Sectors"],
        "summary": "Hierarchical CNAE tree",
        "description": "Return the CNAE-2009 hierarchy with counts read only from the offline sector projection. Cached 24h; no live aggregation is performed.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "CNAE tree",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CnaeTreeResponse"
                }
              }
            }
          },
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/cnae/{code}": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCnaeByCode",
        "tags": ["Sectors"],
        "summary": "CNAE code metadata",
        "description": "Return CNAE-2009 metadata and an optional company count from the offline projection. A missing projection is represented as null and never triggers a live COUNT.",
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "parameters": [
          {"name": "code", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[0-9A-Z]{1,4}$", "example": "6201"}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "CNAE metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CnaeNode"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/person/search": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "people:read",
        "operationId": "getPersonSearch",
        "x-query-contract": {"allowed":["q","limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Persons", "Search"],
        "summary": "Search documentary mentions of persons",
        "description": "Search only person_public_search_v1, bounded to 50 results and revalidated against the activated company_public_v2 generation. Results are unresolved name mentions, never identity profiles. Authority failure is 503/no-store, not an empty result. No raw persons, enrichment or person-procurement fallback.",
        "x-rate-limit": "free 60/min · 200/day",
        "parameters": [
          {"name": "q", "in": "query", "required": true, "schema": {"type": "string", "minLength": 2, "maxLength": 200, "example": "garcia"}},
          {"name": "limit", "in": "query", "required": false, "schema": {"type": "integer", "minimum": 1, "maximum": 50, "default": 20}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"},
              "Cache-Control": {"schema": {"type": "string", "const": "private, no-store"}}
            },
            "description": "Person search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonSearchResponse"
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "422": {"$ref": "#/components/responses/ValidationFailed"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/persona/{slug}/contracts": {
      "get": {
        "operationId": "getPersonaBySlugContracts",
        "tags": ["Persons", "Public Procurement"],
        "summary": "Person-to-procurement derivation (unavailable)",
        "description": "Fail-closed derived route. It always returns 503 before reading data because `person_contracts_v1` is not authorized. A future implementation requires a new reviewed projection and contract version.",
        "deprecated": true,
        "x-rate-limit": "plan policy (see info.x-rate-limit)",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/LegalLayerUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/lei": {
      "get": {
        "operationId": "getCompanyBySlugLei",
        "tags": ["Companies"],
        "summary": "Get policy-gated GLEIF LEI record",
        "description": "Fail-closed route. GLEIF license declarations conflict in repository evidence and the dataset remains in review; the route returns 503 until a future catalog version records an exact validated public decision.",
        "x-rate-limit": "free 60/min · 200/day",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "LEI record when GLEIF is authorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyLeiResponse"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/bde": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugBde",
        "tags": ["Companies"],
        "summary": "Get Banco de España sector ratios for a company CNAE",
        "description": "Join the already admitted company_public_v2 identity to the immutable Central de Balances sector projection using the company's two-digit CNAE. The response binds both immutable generations. This is sector benchmarking, not a supervised-entity record, company-specific financial statement or score. coverage_status distinguishes a missing CNAE, an unprojected sector and a match; empty coverage never proves that no Banco de España data exists.",
        "x-rate-limit": "free 60/min · 200/day",
        "parameters": [
          {"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Data-Sources": {"$ref": "#/components/headers/XDataSources"},
              "X-Source-Catalog-Version": {"$ref": "#/components/headers/XSourceCatalogVersion"},
              "X-Attribution-Required": {"$ref": "#/components/headers/XAttributionRequired"}
            },
            "description": "CNAE sector-ratio projection or its documented empty shape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBdeResponse"
                }
              }
            }
          },
          "404": {"$ref": "#/components/responses/NotFound"},
          "429": {"$ref": "#/components/responses/TooManyRequests"},
          "503": {"$ref": "#/components/responses/PublicReadUnavailable"}
        }
      }
    },
    "/api/v1/company/{slug}/cnmv": {
      "get": {
        "security": [
          {},
          {"apiKey": []},
          {"bearerAuth": []}
        ],
        "x-api-credential-scope": "companies:read",
        "operationId": "getCompanyBySlugCnmv",
        "x-query-contract": {"allowed":["limit"],"unknown":"400 invalid_parameter","non_scalar":"400 invalid_parameter","lexical":"400 invalid_parameter","range":"422 validation_failed"},
        "tags": ["Companies"],
        "summary": "Get the CNMV listed-company projection and recent events",
[...]
